.vm--modal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 555px;
    box-sizing: border-box;
    padding: 48px 68px 48px;
    margin: 50px auto;
    top: 0!important;
}

.vm--container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.btn__link {
    cursor: pointer;
    text-decoration: none;
    color: #407FEE;
    font-weight: 400;
    background-color: transparent;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


.code__field {
    margin-right: 20px;
}

.code__field:last-child {
    margin-right: 0;
}


.static {
    padding-top: 60px;
}

.static h1 {
    padding-bottom: 30px;
}

.static h3 {
    padding-top: 1rem;
    font-size: 1.17em;
    font-weight: 700;
    margin-bottom: .625rem;
}

.static p {
    font-size: 16px;
    line-height: 180%;
    color: #474747;
    margin-bottom: 1rem;
}
.static p strong {
    font-weight: bold;
}

.block__attention {
    width: 100%;
    padding: 30px 24px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 0 10px #E3E3E3;
    margin-bottom: 16px;
    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
      margin-bottom: 16px;
      color: #132F50;
    }
}

