.pages__link.active {
    top: 0;
    font-size: 20px;
}
/* Reset Select */
.select_main select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}
/* Remove IE arrow */
.select_main select::-ms-expand {
    display: none;
}
/* Custom Select */
.select_main {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    border-radius: 5px;
    height: 43px;
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.select_main select {
    flex: 1;
    padding: 0 0.5em;
    color: #474747;
    font-size: 14px;
    line-height: 13px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 40px;
}

.select_main select:disabled {
    color: #BDBDBD;
}

.select_main:hover {
    border-color: #407FEE;
}

.category__bg_5 {
    background: url("../images/categories/category-5.png") no-repeat center top;
    -webkit-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 100%;
    top: 0;
}

.category_6 {
    margin-right: 0;
}

.category_5 .category__links {
    max-width: 270px;
}

.category_5 {
    min-height: 200px;
    width: 100%;
}

.category__bg_3 {
    background: url("../images/categories/category-3.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 400px;
    top: inherit;
    bottom: 0;
}
@media all and (max-width: 1050px) {
    .category_4 {
        width: 100%;
    }

    .category__bg_5 {
        width: 180px;
        height: 100%;
        top: 0;
        right: -40px;
    }
}

.service_table {
    width: 100%;
    margin-top: 50px;
}

.service_table th {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    color: #CBCBCB;
    width: 33.333333%;
    padding: 16px 0;
    text-align: left;
}

.service_table td {
    padding: 16px 0;
}
@media (min-width: 1150px) {
    .main__slide-left.width700 {
        max-width: 700px;
    }

    .main__slide-photo_service {
        width: 420px;
    }
}
@media (max-width: 550px) {
    .main__slide-photo_service {
        width: 150px;
        right: 20px;
    }
}

.search_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #132F50;
}

.service_table tr {
    border-bottom: 1px solid #E4E4E4;
}

.form-item__label {
    display: block;
}

.form-item__element {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    border-radius: 5px;
    height: 43px;
    font-size: 13px;
    font-family: 'GothamPro', sans-serif;
    padding-left: 16px;
    padding-right: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-item__element:hover {
    border-color: #407FEE;
}

.form-item__element:focus {
    outline: none;
}

.form-item__element--select {
    appearance: none;
    padding-right: 2em;
}

.form-item__element--select:invalid {
    color: #BDBDBD;
}

.form-item__element--select [disabled] {
    color: #BDBDBD;
}

.form-item__element--select option {
    color: #444;
}

.select-wrap {
    position: relative;
}

.select-wrap::after {
    margin-left: -2em;
    font-size: 0.75em;
    pointer-events: none;
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    right: 16px;
    background-image: url("../images/arr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.scale__price-field {
    line-height: 16px;
}

.form__field {
    line-height: 16px;
}

.form__field.has-error {
    border: 1px solid #ea8295;
}

.tiktok_link {
    display: flex;
    justify-content: left;
    background: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 0;
    top: 150px;
    margin-left: 8px;
    padding: 8.35px 30px 8.35px 8px;
    z-index: 20;
    font-weight: 600;
    width: 260px;
    align-items: center;
    -webkit-transform: translate(232px, 0);
    -moz-transform: translate(232px, 0);
    -ms-transform: translate(232px, 0);
    -o-transform: translate(232px, 0);
    transform: translate(232px, 0);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    text-decoration: none;
}

.tiktok_link:hover {
    cursor: pointer;
    -webkit-transform: translate(90px, 0);
    -moz-transform: translate(90px, 0);
    -ms-transform: translate(90px, 0);
    -o-transform: translate(90px, 0);
    transform: translate(90px, 0);
    background: rgba(255, 255, 255, 0.8);
}

.tiktok_link .img {
    display: block;
    width: 53px;
    height: 53px;
    margin-right: 8px;
}

.tiktok_link .text_wrap {
    display: flex;
    flex-direction: column;
}

.tiktok_link .text_wrap .title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 3px;
}

.tiktok_link .text_wrap span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.category_8 {
    width: 55%;
}

.category.category_88 {
    margin-right: 1.75%;
}

.category_9 {
    width: 45%;
}

.category__bg_87 {
    background: url("../images/categories/category-87.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 215px;
    height: 315px;
    top: inherit;
    bottom: 0;
}

.category__bg_88 {
    background: url("../images/categories/category-88.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 180px;
    height: 235px;
    top: inherit;
    bottom: 0;
}
/*.category__bg_97 {
    background: url('../images/categories/category-97.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 400px;
    top: inherit;
    bottom: 0px;
}
*/
.category_97 .category__links {
    width: 80%;
}

.img_97 {
    position: absolute;
    right: 0;
    bottom: 0;
}
@media (min-width: 1150px) {
    .main__slide-left.width700 {
        max-width: 700px;
    }

    .main__slide-photo_service {
        width: 420px;
    }
}
@media (max-width: 768px) {
    .category_8 {
        width: 100%;
    }

    .category.category_88 {
        margin-right: 0;
    }

    .category_9 {
        width: 100%;
    }

    .category__bg_87 {
        width: 115px;
        height: 215px;
    }

    .category__bg_88 {
        width: 160px;
        height: 195px;
    }

    .img_97 {
        width: 80%;
    }

    .img_97_bg {
        position: absolute;
    }

    .img_97_bg {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        height: 10000px;
        top: 0;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
