@import 'reset';

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/tables';

@import 'style';
@import 'custom';
@import 'new';

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    max-width: 290px;
    word-wrap: break-word;
}
