<template>
    <footer class="footer">
        <div class="content spacer_top">
            <div class="footer__contacts">
                <a href="#" class="footer__logo"></a>

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-phone pos-center"><use xlink:href="/images/sprite.svg#icon-phone"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        <a href="tel:+77074049969">+ 7 (707) 404 99 69</a><br>
                        <a href="tel:+77074046999">+ 7 (707) 404 69 99</a>
                    </p>

                </div><!--footer__contact-->

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-time pos-center"><use xlink:href="/images/sprite.svg#icon-time"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        Понедельник - Пятница С 10:00 до 19:00 <br>
                        Суббота - Воскресенье С 11:00 до 17:00
                    </p>

                </div><!--footer__contact-->

                <div class="footer__contact">
                    <span class="footer__contact-icon">
                        <svg class="svg-icon icon-mark pos-center"><use xlink:href="/images/sprite.svg#icon-mark"></use></svg>
                    </span>

                    <p class="footer__contact-desc">
                        г. Алматы, Жандосова 9, угол Ауэзова, вход с Жандосова
                    </p>

                </div><!--footer__contact-->

                <div class="social">
                    <a href="https://www.instagram.com/eshop_kz" rel="noopener" target="_blank" class="social__link">
                        <svg class="svg-icon icon-social-inst"><use xlink:href="/images/sprite.svg#icon-social-inst"></use></svg>
                    </a>

                    <a href="https://wa.me/77074049969" rel="noopener" target="_blank" class="social__link">
                        <svg class="svg-icon icon-social-wapp"><use xlink:href="/images/sprite.svg#icon-social-wapp"></use></svg>
                    </a>

                    <a href="https://www.tiktok.com/@eshop_kz" rel="noopener" target="_blank" class="social__link">
                        <svg class="svg-icon icon-social-wapp"><use xlink:href="/images/sprite.svg#icon-tiktok"></use></svg>
                    </a>

                </div><!--social-->

            </div><!--footer__contacts-->
            <div class="footer__col">
                <p class="footer__col-title">
                    ИНФОРМАЦИЯ
                </p>

                <ul class="site-map">
                    <li>
                        <inertia-link :href="route('about-us')">О нас</inertia-link>
                    </li>

                    <li>
                        <inertia-link :href="route('about-delivery')">Информация о доставке</inertia-link>
                    </li>

                    <li>
                        <inertia-link :href="route('security-policy')">Политика конфиденциальности</inertia-link>
                    </li>

                    <li>
                        <inertia-link :href="route('terms')">Условия соглашения</inertia-link>
                    </li>

                    <li>
                        <inertia-link :href="route('contract-offer')">Договор оферты</inertia-link>
                    </li>

                    <li>
                        <a href="javascript:void(0)" @click="$loginCheckModal(route('personal.profile'), $modal)">Личный кабинет</a>
                    </li>

                    <li>
                        <a href="javascript:void(0)" @click="$loginCheckModal(route('personal.orders'), $modal)">История заказов</a>
                    </li>

                </ul>

            </div><!--footer__col-->

            <div class="footer__col">
                <!-- <p class="footer__col-title">
                    КАТЕГОРИИ
                </p>

                <ul class="site-map">
                    <li v-for="category in $page.globalCategories">
                        <inertia-link :href="route('catalog.view', category.slug)">{{ category.name }}</inertia-link>
                    </li>
                </ul> -->

            </div><!--footer__col-->



            <div class="footer__col">
                <p class="footer__col-title">
                    МЫ НА КАРТЕ
                </p>

                <div id="map"></div>

            </div><!--footer__col-->

        </div><!--content-->

        <div class="footer__bottom">
            <div class="content spacer">
                <p class="copyright">
                    <svg class="svg-icon icon-copyright"><use xlink:href="/images/sprite.svg#icon-copyright"></use></svg>
                    <span>2020, Все права защищены</span>
                </p>

                <p class="dev">
                    Разработано в <a href="https://nidge.kz/" rel="noopener" target="_blank">NIDGE Digital Agency</a>
                </p>

            </div><!--content-->

        </div><!--footer__bottom-->

    </footer>
</template>

<script>
import $Scriptjs from 'scriptjs';
import { eventBus } from '../event-bus.js';

export default {
    mounted() {
        $Scriptjs("https://maps.google.com/maps/api/js?key=AIzaSyDOhWZWMNUSIYxWqcIni33voP8yTbnjNXs", () => {
            this.googleInit();
        });

        eventBus.$on('googleInit', () => {
            this.initMap();
        });
    },
    methods: {
        googleInit() {
            eventBus.$emit('googleInit', {});
        },
        initMap() {
            let position = {lat: 43.234094, lng: 76.904299};

            let map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 16,
                scrollwheel: false,
                panControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false
            });

            let marker = new google.maps.Marker({
                position: {lat: 43.234094, lng: 76.904299},
                map: map,
                title: 'Абая проспект, 138/2 3 этаж; 4 офис Бостандыкский район, Алматы'
            });
        },

    },
}
</script>
