<template>
    <header class="header">
        <div class="content spacer">
            <div class="header__left">
                <div class="header__phones">
                    <a href="tel:+77074049969">+ 7 (707) 404 99 69</a>
                    <a href="tel:+77074046999">+ 7 (707) 404 69 99</a>
                </div><!--header__phones-->

                <a href="https://wa.me/77074049969" rel="noopener" target="_blank" class="header__wapp">
                    <svg class="svg-icon icon-wapp"><use xlink:href="/images/sprite.svg#icon-wapp"></use></svg>
                    <span>Напишите нам в WhatsApp</span>
                </a>

            </div><!--header__left-->

            <div class="header__right">
                <inertia-link :href="route('comparison.index')" class="header__link">
                    <svg class="svg-icon icon-diff"><use xlink:href="/images/sprite.svg#icon-diff"></use></svg>
                    <span>Сравнение товаров ({{ items_comparison_count }})</span>
                </inertia-link>

                <inertia-link :href="route('favorites.index')" class="header__link">
                    <svg class="svg-icon icon-favorite"><use xlink:href="/images/sprite.svg#icon-favorite"></use></svg>
                    <span>Мои закладки ({{ favorite_items_count }})</span>
                </inertia-link>

                <a href="#" class="header__link" @click="openLoginModal">
                    <svg class="svg-icon icon-personal"><use xlink:href="/images/sprite.svg#icon-personal"></use></svg>
                    <span v-if="$page.user">{{ $page.user.name }}</span>
                    <span v-else>Вход</span>
                </a>

            </div><!--header__right-->

        </div><!--content-->

    </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    computed: {
        ...mapGetters([
            'favorite_items_count',
            'items_comparison_count'
        ])
    },
    mounted() {
        this.GET_FAVORITE_PRODUCTS_COUNT();
        this.GET_PRODUCTS_COMPARISON_COUNT();
    },
    methods: {
        ...mapActions([
            'GET_FAVORITE_PRODUCTS_COUNT',
            'GET_PRODUCTS_COMPARISON_COUNT',
        ]),
        openLoginModal() {
            if (this.$page.user) {
                window.location = route('personal.profile');
            } else {
                this.$modal.show('login-modal');
            }

        }
    }
}
</script>
