<template>
    <section class="nav-bar">
        <div class="content">
            <a href="/" class="logo"></a>

            <nav class="nav">
                <div class="nav__links">
                    <template v-for="category in $page.globalCategories">
                        <a :href="route('catalog.view', category.slug)" class="nav__link">
                            {{ category.name }}
                        </a>
                    </template>
                    <inertia-link :href="route('service')" class="nav__link">
                        сервисный центр
                    </inertia-link>
                </div><!--spacer-->
            </nav>

            <div class="nav-bar__right">
                <a :href="route('search')" class="nav-bar__link">
                    <svg class="svg-icon icon-search pos-center"><use xlink:href="/images/sprite.svg#icon-search"></use></svg>
                </a>

                <inertia-link :href="route('cart.index')" class="nav-bar__link">
                    <i class="nav-bar__link-count">{{ cart_products_count }}</i>
                    <svg class="svg-icon icon-basket pos-center"><use xlink:href="/images/sprite.svg#icon-basket"></use></svg>
                </inertia-link>

                <span class="menu__nav"></span>

            </div><!--nav-bar__right-->

        </div><!--content-->

    </section><!--nav-bar-->
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import $Scriptjs from 'scriptjs';

export default {
    computed: {
        ...mapGetters([
            'cart_products_count'
        ])
    },
    mounted() {
        $('.menu__nav').on('click', function() {
            if($(this).hasClass('open')) {
                $('.page-wrap').css('overflow', 'hidden');
                $('html').css('overflow', 'auto');
                $(this).removeClass('open');
                $('.nav').slideUp();
            } else {
                $('html').height($(window).height()).css('overflow', 'hidden');
                $('.page-wrap').css('overflow', 'scroll');
                $(this).addClass('open');
                $('.nav').slideDown();
            }
        });
        this.GET_CART_COUNT();
    },
    methods: {
        ...mapActions([
            'GET_CART_COUNT',
        ]),
    },
};
</script>
