<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>Каталог</span>
            </div>

            <section class="categories content" id="welcom-categories">
                <h2>
                    категории товаров
                </h2>
                <shop-category-list></shop-category-list>
            </section>

        </section>
    </shop-layout>
</template>

<script>
export default {
    title: 'Каталог',
    props: {
        categories: Object,
    },
}
</script>
