<template>
<shop-layout>
    <section class="page page_product content">
        <div class="pager">
            <inertia-link :href="route('welcome')">Главная</inertia-link>
            <i>/</i>
            <inertia-link :href="route('catalog.index')">Каталог</inertia-link>
            <template v-if="product.category">
                <i>/</i>
                <inertia-link :href="route('catalog.view', product.category.slug)">{{ product.category.name }}</inertia-link>
            </template>
            <i>/</i>
            <span>{{ product.name }}</span>
        </div>
        <!--pager-->

        <div class="product spacer_top">
            <div class="product__slider">
                <div class="product__slides owl-carousel" v-owlcarousel-product-slides>
                    <template v-if="product.images.length > 0">
                        <div class="product__slide" v-for="(image, index) in product.images" :data-index="index">
                            <img :src="image" alt="Слайд">
                        </div>
                    </template>
                    <div class="product__slide" v-else>
                        <img :src="product.image" alt="Слайд">
                    </div>
                </div>

                <div class="product__previews" v-if="product.images">
                    <div class="product__previews-slides owl-carousel" v-owlcarousel-product-previews>
                        <div class="product__preview" v-for="(image, index) in product.images" :data-index="index" :class="{'active': index == 0}">
                            <img :src="image" alt="Превью">
                        </div>
                    </div>

                    <span class="product__previews-prev" v-if="product.length > 4">
                        <svg class="svg-icon icon-product-prev">
                            <use xlink:href="/images/sprite.svg#icon-product-prev"></use>
                        </svg>
                    </span>

                    <span class="product__previews-next" v-if="product.length > 4">
                        <svg class="svg-icon icon-product-next">
                            <use xlink:href="/images/sprite.svg#icon-product-next"></use>
                        </svg>
                    </span>
                </div>
                <!--product__previews-->

            </div>
            <!--product__slider-->

            <div class="product__right">
                <h1>
                    {{ product.name }}
                </h1>

                <p class="product__status">
                    Доступность: <span class="avail" :style="`color: ${product.status ? product.status.color: '#0cb906'}`">{{ product.status.name }}</span>
                </p>

                <p class="product__index" v-if="product.article">
                    Код товара: <strong>{{ product.article }}</strong>
                </p>

                <div class="product__prices">
                    <p class="product__price">
                        {{ product.price | priceFilter  }} ₸
                    </p>

                    <p class="product__price product__price_old" v-if="product.old_price">
                        {{ product.old_price | priceFilter }} ₸
                    </p>

                </div>
                <!--product__prices-->

                <!-- <div class="colors">
                        <p class="colors__title">
                            Выберите цвет:
                        </p>

                        <div class="colors__list">
                            <div class="colors__color active">
                                <img src="/images/products/product-1/color-1.png" alt="Цвет">
                            </div>

                            <div class="colors__color">
                                <img src="/images/products/product-1/color-2.png" alt="Цвет">
                            </div>

                            <div class="colors__color">
                                <img src="/images/products/product-1/color-3.png" alt="Цвет">
                            </div>

                        </div>

                    </div> -->

                <div class="product__controls">
                    <eshop-count v-model="product.quantity" :max="product.left_quantity"></eshop-count>

                    <a href="javascript:void(0);" class="product__favorite" @click="addToFavorite">
                        <svg class="svg-icon icon-favorite">
                            <use xlink:href="/images/sprite.svg#icon-favorite"></use>
                        </svg>
                        <span>В закладки</span>
                    </a>

                    <a href="javascript:void(0);" class="product__diff" @click="addToComparison">
                        <svg class="svg-icon icon-diff">
                            <use xlink:href="/images/sprite.svg#icon-diff"></use>
                        </svg>
                        <span>Сравнить</span>
                    </a>

                </div>


                <div class="block__attention" style="margin-top: 1em;" v-if="product.brand && product.brand.name == 'HyperX'">
                    <div class="title">
                        Внимание!
                    </div>
                    <p class="text">
                        Просим уточнять окончательную цену у менеджера.
                        <ul class="phone-list">
                          <li><a href="tel:+77074049969">+ 7 (707) 404 99 69</a></li>
                          <li><a href="tel:+77074046999">+ 7 (707) 404 69 99</a></li>
                        </ul>
                    </p>
                </div>
                <!--product__controls-->

                <div class="product__btns spacer">
                    <button class="yellow-btn product__add" @click="addToCart(product.id)">Добавить в корзину</button>
                    <button class="product__order" @click="$modal.show('fast-order-modal')">Быстрый заказ</button>
                </div>
                <!--product__btns-->



                <div class="product__bottom">
                    <div class="product__bottom-col">
                        <div class="product__rating">
                            <star-rating :star-size="18" :show-rating="false" :read-only="true" :increment="0.01" :rating="product.rating"></star-rating>
                        </div>
                        <!--product__rating-->

                    </div>
                    <!--product__bottom-col-->

                    <div class="product__bottom-col">
                        <p class="product__bottom-desc">{{ product.reviews.length }} отзывов</p>
                    </div>
                    <!--product__bottom-col-->

                    <div class="product__bottom-col">
                        <a href="javascript:void(0)" class="product__bottom-link" @click="$loginCheckModal(route('products.review', product.slug), $modal)">Оставить отзыв</a>
                    </div>
                    <!--product__bottom-col-->

                </div>
                <!--product__bottom-->

                <div class="tabs">
                    <div class="tabs__links">
                        <div class="spacer">
                            <a href="javascript:void(0);" class="tabs__link active">Описание</a>
                            <a href="javascript:void(0);" class="tabs__link">Характеристики</a>
                            <a href="javascript:void(0);" class="tabs__link">Отзывы <i>({{ product.reviews.length }})</i></a>
                            <a href="javascript:void(0);" class="tabs__link">Доставка и оплата</a>
                        </div>

                    </div>

                    <div class="tabs__list">
                        <div class="tab active">
                            <p class="product__desc" v-html="product.description"></p>
                        </div>
                        <!--tab-->

                        <div class="tab">
                            <div class="product__params">
                                <div class="product__params-block" v-for="propertyGroup in propertyGroups">
                                    <p class="product__params-title">
                                        {{ propertyGroup.name }}
                                    </p>

                                    <ul class="product__params-list">
                                        <li v-for="property_value in propertyGroup.values">
                                            <span>{{property_value.name}}</span>
                                            <span>{{property_value.value}}</span>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!--tab-->

                        <div class="tab">
                            <div class="reviews">
                                <div class="review" v-for="review in product.reviews">
                                    <div class="review__top">
                                        <div class="review__photo">
                                            <svg class="svg-icon icon-user-default">
                                                <use xlink:href="/images/sprite.svg#icon-user-default"></use>
                                            </svg>
                                        </div>
                                        <!--review__photo-->

                                        <p class="review__name">{{ review.user.fullname }}</p>
                                        <p class="review__date">{{ review.created_at | dateFormat }}</p>

                                        <div class="review__rating">
                                            <star-rating :star-size="18" :show-rating="false" :read-only="true" :rating="review.rating"></star-rating>
                                        </div>
                                        <!--product__rating-->

                                    </div>
                                    <!--review__top-->

                                    <p class="review__time">
                                        <strong>Срок использования:</strong>
                                        {{ review.used_time.name }}
                                    </p>

                                    <div class="review__text">
                                        <p class="review__title">
                                            Достоинства:
                                        </p>
                                        <p class="review__desc" v-html="review.advantages"></p>
                                    </div>
                                    <!--review__text-->

                                    <div class="review__text">
                                        <p class="review__title">
                                            Недостатки:
                                        </p>
                                        <p class="review__desc" v-html="review.disadvantages"></p>
                                    </div>
                                    <!--review__text-->

                                    <div class="review__text">
                                        <p class="review__title">
                                            Комментарии:
                                        </p>
                                        <p class="review__desc" v-html="review.notes"></p>
                                    </div>
                                    <!--review__text-->

                                </div>
                                <!--review-->

                            </div>
                            <!--reviews-->

                        </div>
                        <!--tab-->

                        <div class="tab">
                            <div class="shipping">
                                <div class="shipping__item">
                                    <svg class="svg-icon icon-shipping-1">
                                        <use xlink:href="/images/sprite.svg#icon-shipping-1"></use>
                                    </svg>
                                    <p class="shipping__title">
                                        Самовывоз
                                    </p>

                                    <p class="shipping__desc">
                                        г. Алматы, Жандосова 9, угол Ауэзова, вход с Жандосова
                                    </p>

                                </div>
                                <!--shipping__item-->

                                <div class="shipping__item">
                                    <svg class="svg-icon icon-shipping-2">
                                        <use xlink:href="/images/sprite.svg#icon-shipping-2"></use>
                                    </svg>
                                    <p class="shipping__title">
                                        Доставка
                                    </p>

                                    <p class="shipping__desc">
                                        По городу Алматы доставка
                                        осуществляется в течении 2-3 дней, стоимость
                                        доставки составляет 2000 тг.
                                    </p>

                                </div>
                                <!--shipping__item-->

                                <div class="shipping__item">
                                    <svg class="svg-icon icon-shipping-3">
                                        <use xlink:href="/images/sprite.svg#icon-shipping-3"></use>
                                    </svg>
                                    <p class="shipping__title">
                                        Доставка с установкой
                                    </p>

                                    <p class="shipping__desc">
                                        По городу Алматы доставка
                                        осуществляется в течении 2-3 дней, стоимость
                                        доставки составляет 5000 тг.
                                    </p>

                                </div>
                                <!--shipping__item-->

                            </div>
                            <!--shipping-->

                        </div>
                        <!--tab-->

                    </div>
                    <!--tabs__list-->

                </div>
                <!--tabs-->

            </div>
            <!--product__right-->

        </div>
        <!--product-->
        <shop-recommendations :limit="4"></shop-recommendations>
        <shop-new-items></shop-new-items>
    </section>
    <!--page-->



    <fast-order-modal :product="product"></fast-order-modal>
</shop-layout>
</template>

<script>
import {
    mapGetters,
    mapActions
} from 'vuex';
import FastOrderModal from '@/Eshop/Components/Modals/FastOrderModal';
import EshopCount from '@/Eshop/Components/Count';

export default {
    title() {
        return `${this.product.name}`
    },
    props: {
        product: Object,
    },
    components: {
        FastOrderModal,
        EshopCount,
    },
    computed: {
        propertyGroups() {
            let values = _.chain(this.product.property_values)
                .groupBy('property_id')
                .map(function(valuesArray, key) {
                    return {
                        name: valuesArray[0].property.name,
                        group_name: valuesArray[0].property.property_group_id ? valuesArray[0].property.group.name : 'Общие характеристики',
                        value: valuesArray[0].name,
                    }
                })
                .value();
            return _.chain(values)
                .groupBy('group_name')
                .map(function(valuesArray, key) {
                    return {
                        name: valuesArray[0].group_name,
                        values: valuesArray,
                    }
                })
                .value();
        }
    },
    mounted() {
        $('.tabs__link').on('click', function(e) {
            e.preventDefault();
            $('.tabs__link').removeClass('active');
            $(this).addClass('active');
            $('.tab').removeClass('active').eq($(this).index()).addClass('active');
            $(window).trigger('scroll');
        });
    },
    methods: {
        ...mapActions([
            'ADD_CART',
            'GET_CART_COUNT',
            'ADD_OR_REMOVE_FAVORITE_PRODUCT',
            'GET_FAVORITE_PRODUCTS_COUNT',
            'GET_PRODUCTS_COMPARISON_COUNT',
            'ADD_PRODUCT_COMPARISON',
        ]),
        async addToCart() {
            const item = {
                id: this.product.id,
                quantity: this.product.quantity,
            };
            this.ADD_CART(item)
                .then(() => {
                    this.$modal.show('item-added-cart-modal');
                    this.GET_CART_COUNT();
                });
        },
        async addToComparison() {
            try {
                await this.ADD_PRODUCT_COMPARISON(this.product.id);
                this.$toastrSuccess('Товар ' + this.product.name + ' успешно добавлен в список сравнения!')
                this.GET_PRODUCTS_COMPARISON_COUNT();
            } catch (e) {}
        },
        async addToFavorite() {
            try {
                this.product.in_favorites = !this.product.in_favorites;
                await this.ADD_OR_REMOVE_FAVORITE_PRODUCT(this.product.id);
                if (this.product.in_favorites) {
                    this.$toastrSuccess('Товар ' + this.product.name + ' успешно добавлен в список закладок!')
                }
                this.GET_FAVORITE_PRODUCTS_COUNT();
            } catch (e) {}
        },
    },
}
</script>

<style>
  .phone-list li a {
    color: #474747;
    text-decoration: none;
  }
  .phone-list li {
    margin-top: 6px;
  }
</style>
