<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <inertia-link :href="route('catalog.index')">Каталог</inertia-link>
                <i>/</i>
                <template v-if="category.parent_id">
                    <inertia-link :href="route('catalog.view', category.parent.slug)">{{ category.parent.name }}</inertia-link>
                    <i>/</i>
                </template>

                <span>{{ category.name }}</span>
            </div><!--pager-->

            <div class="catalog-page spacer_top">
                <eshop-filter :filter="filter" @on-changed="getProducts" :category="category"></eshop-filter>

                <div class="catalog-page__content">
                    <h1 id="categoryname">
                        {{ category.name }}
                    </h1>

                    <div class="catalog__panel">
                        <div class="catalog__types">
                            <inertia-link :href="route('catalog.view', child.slug)" class="catalog__type" v-for="child in category.children" :key="child.id">
                                {{ child.name }}
                            </inertia-link>
                        </div><!--catalog__types-->

                        <div class="catalog__panel-right">

                            <div class="sort">
                                <p class="sort__title">Сортировать:</p>

                                <div class="select-wrap">
                                    <select class="form-item__element form-item__element--select" v-model="filter.orderby" style="height: 30px;">
                                        <option value="new">По новизне</option>
                                        <option value="price_cheaper">Сначала дешевле</option>
                                        <option value="price_expensive">Сначала дороже</option>
                                        <option value="az">По названию</option>
                                    </select>
                                </div>

                            </div><!--sort-->

                        </div><!--catalog__panel-right-->

                    </div><!--catalog__panel-->

                    <div class="catalog__list flex-container">
                        <div class="catalog__item" v-for="(product, index) in products">
                            <a :href="route('products.show', product.slug).url()" class="catalog__item-photo">
                                <img :src="product.image" :alt="product.name">
                            </a>

                            <a :href="route('products.show', product.slug).url()" class="catalog__item-title" :title="product.name">
                                {{ product.name }}
                            </a>

                            <div class="catalog__item-rating">
                                <star-rating :star-size="16" :show-rating="false" :read-only="true" :increment="0.01" :rating="product.rating"></star-rating>
                            </div><!--catalog__item-rating-->

                            <p class="catalog__item-status">
                                <span class="avail" v-if="product.is_available" :style="`color: ${product.status.color}`">{{ product.status.name }}</span>
                                <span class="not-avail" v-else>Нет в наличии</span>
                            </p>

                            <p class="catalog__item-price">
                                {{ product.price | priceFilter }} ₸
                            </p>

                            <button class="catalog__item-add" @click="addToCart(product.id)">Добавить в корзину</button>

                            <div class="catalog__item-control">
                                <a href="javascript:void(0);" class="catalog__item-link" @click="addToFavorite(index)">
                                    <svg class="svg-icon icon-product-favorite" :class="{'active': product.in_favorites }">
                                        <use xlink:href="/images/sprite.svg#icon-favorite" v-if="product.in_favorites"></use>
                                        <use xlink:href="/images/sprite.svg#icon-product-favorite" v-else></use>
                                    </svg>
                                </a>

                                <a href="javascript:void(0);" class="catalog__item-link" @click="addToComparison(index)">
                                    <svg class="svg-icon icon-product-diff"><use xlink:href="/images/sprite.svg#icon-product-diff"></use></svg>
                                </a>

                                <a :href="route('products.show', product.slug).url()" class="catalog__item-link">
                                    <svg class="svg-icon icon-product-view"><use xlink:href="/images/sprite.svg#icon-product-view"></use></svg>
                                </a>

                            </div><!--catalog__item-control-->

                        </div><!--catalog__item-->
                    </div><!--catalog__list-->

                    <pagination v-if="pagination.last_page > 1" :pagination="pagination" @paginate="getProducts()" offset="4" scroll-selector="#categoryname"></pagination>

                </div><!--catalog__content-->

            </div><!--catalog-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import PaginationForAjax from '@/Eshop/Components/PaginationForAjax';
import EshopFilter from '@/Eshop/Containers/Filters';

export default {
    title() {
        return `${this.category.name}`
    },
    props: {
        category: Object,
    },
    components: {
        Pagination: PaginationForAjax,
        EshopFilter,
    },
    data() {
        return {
            products: [],
            pagination: {
                current_page: 1,
            },
            filter: {
                start_price: 100,
                end_price: 2000000,
                brands: [],
                properties: [],
                options: [],
                optionsDiapason: [],
                orderby: 'new',
            },
        }
    },
    computed: {
        params() {
            return {
                ...this.filter,
                page: this.pagination.current_page,
            };
        }
    },
    mounted() {
        this.getProducts();
    },
    methods: {
        ...mapActions([
            'ADD_CART',
            'GET_CART_COUNT',
            'ADD_PRODUCT_COMPARISON',
            'GET_FAVORITE_PRODUCTS_COUNT',
            'GET_PRODUCTS_COMPARISON_COUNT',
            'ADD_OR_REMOVE_FAVORITE_PRODUCT',
        ]),
        async getProducts() {
            const { data } = await window.axios.get(route('catalog.products', this.category.slug).url(), { params: this.params });
            this.products = data.products.data;
            this.pagination = this.laraPaginate(data.products);
        },
        async addToCart(id) {
            try {
                let item = { id, quantity: 1};
                await this.ADD_CART(item)
                this.$modal.show('item-added-cart-modal');
                this.GET_CART_COUNT();
            } catch (e) {}
        },
        async addToFavorite(index) {
            try {
                let product = this.products[index];
                product.in_favorites = !product.in_favorites;
                await this.ADD_OR_REMOVE_FAVORITE_PRODUCT(product.id);
                if (product.in_favorites) {
                    this.$toastrSuccess(' Товар '+ product.name +' успешно добавлен в список закладок!')
                }
                this.GET_FAVORITE_PRODUCTS_COUNT();
            } catch (e) {}
        },
        async addToComparison(index) {
            try {
                let product = this.products[index];
                await this.ADD_PRODUCT_COMPARISON(product.id)
                this.$toastrSuccess(' Товар '+ product.name +' успешно добавлен в список сравнения!')
                this.GET_PRODUCTS_COMPARISON_COUNT();
            } catch (e) {}
        },
    },
    watch: {
        filter: {
            deep: true,
            handler(value) {
                this.pagination.current_page = 1;
                this.getProducts();
            }
        },
    }
};
</script>
