<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <inertia-link :href="route('catalog.index')">Каталог</inertia-link>
                <i>/</i>
                <inertia-link :href="route('catalog.view', product.category.slug)">{{ product.category.name }}</inertia-link>
                <i>/</i>
                <a :href="route('products.show', product.slug).url()">{{ product.name }}</a>
                <i>/</i>
                <span>Мой отзыв {{ product.name  }}</span>
            </div><!--pager-->

            <div class="set-review">
                <h1>
                    {{ product.name }}
                </h1>

                <div class="set-review__rating">
                    <p class="set-review__rating-title">
                        Общая оценка:
                    </p>

                    <div class="set-review__rating-list">
                        <star-rating :show-rating="false" v-model="form.rating"></star-rating>
                    </div><!--set-review__rating-list-->

                </div><!--set-review__rating-->

                <form @submit.prevent="storeReview" class="set-review__form">
                    <div class="form__label">
                        <p class="form__label-title">Срок использования:</p>

                        <div class="checkboxes">
                            <label class="checkbox" v-for="time in usedTimes">
                                <input type="radio" name="time" v-model="form.used_time_id" :value="time.id">
                                <span class="checkbox__btn">
                                    <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                                </span>
                                <span class="checkbox__title">{{ time.name }}</span>
                            </label>
                        </div><!--checkboxes-->

                    </div><!--form__label-->

                    <label class="form__label">
                        <span class="form__label-title">Достоинства:</span>
                        <textarea name="dignity" class="form__field form__field_text" v-model="form.advantages" placeholder="Укажите достоинства товара"></textarea>
                        <span v-if="form.error('advantages')" class="invalid-feedback">{{ form.error('advantages') }}</span>
                    </label>

                    <label class="form__label">
                        <span class="form__label-title">Недостатки:</span>
                        <textarea name="disadvantages" class="form__field form__field_text" v-model="form.disadvantages" placeholder="Укажите недостатки товара"></textarea>
                        <span v-if="form.error('disadvantages')" class="invalid-feedback">{{ form.error('disadvantages') }}</span>
                    </label>

                    <label class="form__label">
                        <span class="form__label-title">Комментарии:</span>
                        <textarea name="comment" class="form__field form__field_comment form__field_text" v-model="form.notes" placeholder="Добавьте комментарий"></textarea>
                        <span v-if="form.error('notes')" class="invalid-feedback">{{ form.error('notes') }}</span>
                    </label>

                    <div class="set-review__form-btns spacer">
                        <a :href="route('products.review', product.slug)" class="white-btn set-review__cancel">отменить</a>
                        <button class="yellow-btn set-review__send">Отправить</button>
                    </div><!--set-review__form-btns-->

                    <label class="privacy">
                        <input type="checkbox">
                        <span class="checkbox__btn">
                            <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                        </span>
                        <span class="privacy__desc">
                            Нажимая кнопку “Отправить”, Вы соглашаетесь
                            с условиями <a href="javascript:void(0);">Политики конфиденциальности</a>
                        </span>
                    </label>

                </form>

            </div><!--set-review-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    title() {
        return `Мой отзыв ${this.product.name}`
    },
    props: {
        product: Object,
        usedTimes: Array,
    },
    data() {
        return {
            form: this.$inertia.form({
                used_time_id: 1,
                rating: 0,
                advantages: '',
                disadvantages: '',
                notes: '',
            }, {
                bag: 'storeReview',
                resetOnSuccess: true,
            }),
        }
    },

    methods: {
        storeReview() {
            this.form.post(route('products.store-review', this.product.id), {
                preserveScroll: true
            });
        },
    },
}
</script>
