<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <a href="#">Личный кабинет</a>
                <i>/</i>
                <span>История заказов</span>
            </div><!--pager-->

            <div class="personal spacer_top">
                <profile-links></profile-links>

                <div class="personal__content">
                    <div class="orders">
                        <div class="orders__item" v-for="order in orders">
                            <div class="orders__item-top spacer_top">
                                <span class="orders__item-index">№ {{ order.id }}</span>
                                <span class="orders__item-date">{{ order.created_at | datetimeFormat }}</span>
                            </div><!--orders__item-top-->

                            <div class="orders__item-info" v-for="order_product in order.products">
                                <div class="orders__item-col" v-if="order_product.product">
                                    <a :href="route('products.show', order_product.product.slug)" class="orders__item-link">{{ order_product.product.name }}</a>
                                    <p class="orders__item-param">
                                        Код товара: <strong>{{ order_product.product.article }}</strong>
                                    </p>

                                </div>

                                <div class="orders__item-col">
                                    <span class="orders__item-desc">{{ order_product.quantity }} шт</span>
                                </div>

                                <div class="orders__item-col">
                                    <span class="orders__item-desc">{{ order_product.total | priceFilter }} ₸ </span>
                                </div>

                                <div class="orders__item-col">
                                    <span class="orders__item-status" :class="{'done': order.delivered}">{{ order.delivered ? 'Доставлен' : 'Не доставлен' }}</span>
                                </div>

                                <div class="orders__item-col">
                                    <span class="orders__item-status" :class="{'done': order.paid}">{{ order.paid ? 'Оплачен' : 'Не оплачен' }}</span>
                                </div>

                            </div><!--orders__item-info-->

                        </div><!--orders__item-->

                    </div><!--orders-->

                </div><!--personal__content-->

            </div><!--personal-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
import ProfileLinks from '@/Eshop/Containers/ProfileLinks'

export default {
    title: 'История заказов',
    components: {
        ProfileLinks
    },
    props: {
        orders: Array
    },
}
</script>
