<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <a href="#">Личный кабинет</a>
                <i>/</i>
                <span>мой профиль</span>
            </div><!--pager-->

            <div class="personal spacer_top">
                <profile-links></profile-links>

                <div class="personal__content">
                    <form @submit.prevent="updateProfileInformation" class="personal__data">
                        <div class="personal__data-fields spacer_top">
                            <label class="form__label">
                                <span class="form__label-title">Фамилия</span>
                                <input type="text" v-model="form.surname" class="form__field" placeholder="Введите фамилию">
                                <span v-if="form.error('surname')" class="invalid-feedback">{{ form.error('surname') }}</span>
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Имя</span>
                                <input type="text" v-model="form.name" class="form__field" placeholder="Введите имя">
                                <span v-if="form.error('name')" class="invalid-feedback">{{ form.error('name') }}</span>
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Телефон</span>
                                <input type="text" v-mask="$phonemask" v-model="form.phone" class="form__field" placeholder="Номер телефона">
                                <span v-if="form.error('phone')" class="invalid-feedback">{{ form.error('phone') }}</span>
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Почта</span>
                                <input type="text" v-model="form.email" class="form__field" placeholder="Укажите почту">
                                <span v-if="form.error('email')" class="invalid-feedback">{{ form.error('email') }}</span>
                            </label>

                        </div><!--personal__data-fields-->

                        <button class="yellow-btn form__btn" type="submit">Сохранить</button>

                    </form>

                </div><!--personal__content-->

            </div><!--personal-->

        </section>
    </shop-layout>
</template>

<script>
import ProfileLinks from '@/Eshop/Containers/ProfileLinks'

export default {
    title: 'Мой профиль',
    components: {
        ProfileLinks
    },
    data() {
        return {
            form: this.$inertia.form({
                '_method': 'PUT',
                name: this.$page.user.name,
                email: this.$page.user.email,
                phone: this.$page.user.phone,
                surname: this.$page.user.surname,
            }, {
                bag: 'updateProfileInformation',
                resetOnSuccess: false,
            }),
        }
    },

    methods: {
        updateProfileInformation() {
            this.form.post(route('user-profile-information.update'), {
                preserveScroll: true
            });
        },
    },
}
</script>
