<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <a href="#">Личный кабинет</a>
                <i>/</i>
                <span>Смена пароля</span>
            </div><!--pager-->

            <div class="personal spacer_top">
                <profile-links></profile-links>

                <div class="personal__content">
                    <form @submit.prevent="updatePassword" class="personal__password">
                        <label class="form__label">
                            <span class="form__label-title">Старый пароль</span>
                            <input type="password" v-model="form.current_password" class="form__field" placeholder="Введите пароль" ref="current_password">
                            <span v-if="form.error('current_password')" class="invalid-feedback">{{ form.error('current_password') }}</span>
                        </label>

                        <label class="form__label">
                            <span class="form__label-title">Новый пароль</span>
                            <input type="password" v-model="form.password" class="form__field" placeholder="Введите пароль">
                            <span v-if="form.error('password')" class="invalid-feedback">{{ form.error('password') }}</span>
                        </label>

                        <label class="form__label">
                            <span class="form__label-title">Повторите пароль</span>
                            <input type="password" v-model="form.password_confirmation" class="form__field" placeholder="Введите пароль">
                            <span v-if="form.error('password_confirmation')" class="invalid-feedback">{{ form.error('password_confirmation') }}</span>
                        </label>

                        <button class="yellow-btn form__btn">Сохранить</button>

                    </form>

                </div><!--personal__content-->

            </div><!--personal-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
import ProfileLinks from '@/Eshop/Containers/ProfileLinks'

export default {
    title: 'Смена пароля',
    components: {
        ProfileLinks
    },
    data() {
        return {
            form: this.$inertia.form({
                current_password: '',
                password: '',
                password_confirmation: '',
            }, {
                bag: 'updatePassword',
            }),
        }
    },

    methods: {
        updatePassword() {
            this.form.put(route('user-password.update'), {
                preserveScroll: true
            }).then(() => {
                this.$refs.current_password.focus()
            })
        },
    },
}
</script>
