<template>
    <div>
        <template v-for="(brand, index) in brands">
            <slide-up-down :active="index < show" :duration="500" :use-hidden="true" style="margin-bottom: 10px;">
                <label class="checkbox">
                        <input type="checkbox" name="brands[]" v-model="selected" :value="brand.id">
                        <span class="checkbox__btn">
                            <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                        </span>
                        <span class="checkbox__title">{{ brand.name }}</span>
                        <span class="checkbox__count">{{ brand.products_count }}</span>
                </label>
            </slide-up-down>
        </template>
        <button class="btn__link filter__block-else" @click="show = brands.length" v-if="show < brands.length">Показать еще</button>
    </div>
</template>

<script>
export default {
    props: {
        filter: Object,
        category: Object,
    },
    data() {
        return {
            show: 5,
            brands: [],
            selected: [],
        }
    },
    mounted() {
        this.getCategoryBrands();
    },
    methods: {
        async getCategoryBrands() {
            const { data } = await window.axios.get(route('filter.brands', this.category.id).url());
            this.brands = data.brands;
        },
    },
    watch: {
        selected(newValue) {
            this.$emit('input', newValue)
        }
    }
}
</script>
