<template>
    <div class="filter__block">
        <p class="filter__block-title" :id="id">
            <span class="max-width180">{{ title }}</span>
            <svg class="svg-icon icon-filter-arrow">
                <use xlink:href="/images/sprite.svg#icon-filter-arrow"></use>
            </svg>
        </p>
        <div class="filter__block-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
        },
        id: {
            type: String,
        }
    },
    mounted() {
        $('#' + this.id).on('click', function() {
            var block = $(this).parent();
            if(block.hasClass('open')) {
                block.removeClass('open').find('.filter__block-content').slideDown();
            } else {
                block.addClass('open').find('.filter__block-content').slideUp();
            }
        });
    }
}
</script>
