<template>
    <modal
        name="fast-order-modal"
        v-if="product"
        width="100%"
        height="auto"
        style="top: 0;"
        @before-close="beforeClose"
    >
        <span class="popup__close" @click="$modal.hide('fast-order-modal')">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <div class="popup-order__top">
            <p class="popup__title">
                Быстрый заказ
            </p>

        </div><!--popup-order__top-->

        <div class="popup__products">
            <div class="popup__product spacer_top">
                <div class="popup__product-photo">
                    <img class="pos-center" :src="product.image" :alt="product.name">
                </div><!--popup__product-photo-->

                <div class="popup__product-right">
                    <p class="popup__product-title">
                        {{ product.name }}
                    </p>

                    <span class="popup__product-count">{{ form.product.quantity }} шт</span>

                    <p class="popup__product-price">
                        {{ form.product.quantity * form.product.price | priceFilter }} ₸
                    </p>

                    <eshop-count v-model="form.product.quantity"></eshop-count>

                </div><!--popup__product-right-->

            </div><!--popup__product-->

        </div><!--popup__products-->

        <form @submit.prevent="fastOrder" class="popup__form" v-if="!success">
            <p class="popup__form-desc">
                В ближайшее время с Вами свяжется наш менеджер для уточнения деталей!
            </p>

            <label class="form__label">
                <span class="form__label-title">Имя *</span>
                <input type="text" v-model="form.name" class="form__field" placeholder="Введите имя">
                <invalid-feedback input="name"></invalid-feedback>
            </label>

            <label class="form__label">
                <span class="form__label-title">Телефон *</span>
                <input type="text" v-mask="$phonemask" v-model="form.phone" class="form__field" placeholder="Номер телефона">
                <invalid-feedback input="phone"></invalid-feedback>
            </label>

            <label class="form__label">
                <textarea name="comment" class="form__field form__field_text" placeholder="Добавьте комментарий"></textarea>
            </label>

            <div class="popup-order__bottom">
                <button class="yellow-btn popup-order__btn" type="submit">оставить заявку</button>

                <label class="privacy">
                    <input type="checkbox">
                    <span class="checkbox__btn">
                        <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                    </span>
                    <span class="privacy__desc">
                        Нажимая кнопку “Отправить”, Вы соглашаетесь
                        с условиями <a href="#">Политики конфиденциальности</a>
                    </span>
                </label>

            </div><!--popup-order__bottom-->

        </form>

        <div class="popup__form" v-else>
            <div class="popup-order__bottom popup-order__bottom_thank">
                <p class="popup-order__thank">
                    Спасибо!
                </p>

                <p class="popup-order__thank-desc">
                    Наш менеджер свяжется с Вами в ближайшее
                    время для уточнения деталей заказа
                </p>

                <a href="/" class="yellow-btn popup-order__return">на главную</a>

            </div><!--popup-order__bottom-->
        </div>
    </modal>
</template>

<script>
import EshopCount from '@/Eshop/Components/Count';

export default {
    props: {
        product: Object,
    },
    components: {
        EshopCount,
    },
    data() {
        return {
            form: {
                name: '',
                phone: '',
                notes: '',
                product: {
                    id: 1,
                    quantity: 1,
                    price: 0,
                },
            },
            success: false,
        };
    },
    beforeMount(){
        this.form.product = {
            id: this.product ? this.product.id : null,
            quantity: this.product ? this.product.quantity : null,
            price: this.product ? this.product.price : null,
        }
    },
    methods: {
        async fastOrder() {
            try {
                const { data } = await window.axios.post(route('fast-order').url(), this.form);
                this.success = true;
            } catch (e) {

            }
        },
        beforeClose(event) {
            if (this.success) {
                this.success = false;
                this.form.name = ''
                this.form.phone = ''
                this.form.notes = ''
            }
            // if (this.$page.currentRouteName == 'cart.checkout.view') {
            //     event.cancel()
            // }
        }
    },
    watch: {
        product: {
            deep: true,
            handler(newValue) {
                this.form.product.quantity = newValue.quantity;
            }
        },
    },
}
</script>

<style lang="css" scoped>
    .popup__form .form__field {
        padding-left: 13px;
    }
</style>
