<template>
    <modal
        name="forget-password-modal"
        width="100%"
        height="auto"
        style="top: 0;"
        @before-close="beforeClose"
    >
        <span class="popup__close" @click="$modal.hide('forget-password-modal')">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Восстановление пароля
        </p>


        <template v-if="success">
            <p class="popup__desc" >
                Мы отправили вам ссылку для сброса пароля по электронной почте!
            </p>
            <button class="popup__form-btn" style="margin-top: 35px" @click="$modal.hide('forget-password-modal')">
                На главную
            </button>
        </template>
        <template v-else>
            <p class="popup__desc">
                Для восстановления пароля укажите свою почту
                и мы отправим Вам ссылку для сброса
            </p>

            <form @submit.prevent="forgotPass" class="popup__form" v-if="!success">
                <label class="form__label">
                    <svg class="svg-icon icon-field-email"><use xlink:href="images/sprite.svg#icon-field-email"></use></svg>
                    <input type="text" v-model="form.email" class="form__field" placeholder="Введите e-mail">
                </label>
                <invalid-feedback input="email" style="margin-bottom: 10px;"></invalid-feedback>

                <button class="popup__form-btn" :disabled="isProcessing">
                    Сбросить
                </button>

                <div class="popup__form-bottom">
                    <a href="#" @click="backLogin" class="popup__form-return">Вернуться</a>
                </div><!--popup__form-bottom-->

            </form>
        </template>

    </modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            form: {
                email: '',
            },
            isProcessing: false,
            success: false,
        };
    },
    methods: {
        async forgotPass() {
            this.isProcessing = true;
            try {
                const { data } = await window.axios.post(route('password.email').url(), this.form);
                this.success = true
                // this.$modal.hide('forget-password-modal');
            } catch (e) {
                //
            } finally {
                this.isProcessing = false;
            }
        },
        backLogin() {
            this.$modal.hide('forget-password-modal');
            this.$modal.show('login-modal');
        },
        beforeClose(event) {
            // if (this.$page.currentRouteName == 'cart.checkout.view') {
            //     event.cancel()
            // }
        }
    },
}
</script>
