<template>
    <modal
        name="item-added-cart-modal"
        v-if="cart_item"
        width="100%"
        height="auto"
        style="top: 0;"
    >
        <span class="popup__close" @click="$modal.hide('item-added-cart-modal')">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Товар добавлен в корзину!
        </p>

        <div class="popup-add__product spacer_top">
            <div class="popup-add__photo">
                <img class="pos-center" :src="cart_item.image" :alt="cart_item.name">
            </div><!--popup-add__photo-->

            <div class="popup-add__right">
                <p class="popup-add__title">
                    {{ cart_item.name }}
                </p>

                <p class="popup-add__price">
                    {{ cart_item.quantity * cart_item.price | priceFilter }} ₸
                </p>

                <p class="popup-add__count">
                    Количество: {{ cart_item.quantity  }} шт
                </p>

            </div><!--popup-add__right-->

        </div><!--popup-add__product-->

        <div class="popup-add__btns spacer">
            <button class="popup-add__return" @click="$modal.hide('item-added-cart-modal')">Продолжить покупки</button>
            <a :href="route('cart.index')" class="yellow-btn popup-add__link">Перейти в корзину</a>
        </div><!--popup-add__btns-->
    </modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data() {
        return {
            form: {
                name: '',
                phone: '',
                notes: '',
                product: {
                    id: 1,
                    quantity: 1,
                    price: 0,
                },
            },
            success: false,
        };
    },
    computed: {
        ...mapGetters([
            'cart_item'
        ]),
    },
    methods: {
        async fastOrder() {
            try {
                const { data } = await window.axios.post(route('fast-order').url(), this.form);
                this.success = true;
            } catch (e) {

            }
        },
    },
}
</script>

<style lang="css" scoped>
    .popup__form .form__field {
        padding-left: 13px;
    }
</style>
