<template>
    <modal name="login-modal" width="100%" height="auto" style="top: 0;">
        <span class="popup__close" @click="closeModal">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Авторизация
        </p>

        <form @submit.prevent="login" class="popup__form popup-discard" style="padding-bottom: 0;">
            <label class="form__label">
                <input type="text" name="email" v-model="form.email" class="form__field" placeholder="Введите e-mail">
                <span v-if="errorFor('email')" class="invalid-feedback">{{ errorFor('email') }}</span>
            </label>
            <label class="form__label">
                <input type="password" name="password" v-model="form.password" class="form__field" placeholder="Введите пароль">
                <span v-if="errorFor('password')" class="invalid-feedback">{{ errorFor('password') }}</span>
            </label>

            <button class="popup__form-btn">
                Вход
            </button>

            <p class="popup__form-info">
                Нет аккаунта? <a @click="showRegisterModal" class="btn__link">Зарегистрироваться</a>
            </p>

            <ul class="popup__form-links">
                <li>
                    <a href="#" @click="showForgetModal">Забыли пароль?</a>
                </li>

            </ul>

        </form>
    </modal>
</template>

<script>
export default {
    data() {
        return {
            form: this.$inertia.form({
                email: '',
                password: '',
            }, {
                bag: 'login',
                resetOnSuccess: false,
            }),
        }
    },
    methods: {
        login() {
            this.form.post(route('login'), {
                preserveScroll: true
            })
        },
        closeModal() {
            this.$modal.hide('login-modal');
        },
        showRegisterModal() {
            this.$modal.hide('login-modal');
            this.$modal.show('register-modal');
        },
        showForgetModal() {
            this.$modal.hide('login-modal');
            this.$modal.show('forget-password-modal')
        },
    },
}
</script>
