<template>
    <modal name="question-modal" width="100%" height="auto" style="top: 0;">
        <span class="popup__close" @click="$modal.hide('question-modal')">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Оставьте заявку
        </p>

        <form @submit.prevent="sendQuestion" class="popup__form popup-discard" style="padding-bottom: 0;">
            <label class="form__label">
                <span class="form__label-title">Ваше ФИО</span>
                <input type="text" name="name" v-model="form.name" class="form__field" placeholder="Иванов Иван Иванович">
                <invalid-feedback input="name" style="margin-bottom: 10px;"></invalid-feedback>
            </label>
            <label class="form__label">
                <span class="form__label-title">Номер телефона</span>
                <input type="text" name="phone" v-mask="$phonemask" v-model="form.phone" class="form__field" placeholder="+7 777 123 45 67">
                <invalid-feedback input="phone" style="margin-bottom: 10px;"></invalid-feedback>
            </label>
            <label class="form__label">
                <span class="form__label-title">Что Вас интересует?</span>
                <textarea name="comment" placeholder="Ваш вопрос" class="form__field form__field_comment form__field_text" style="height:150px;" v-model="form.question"></textarea>
                <invalid-feedback input="question" style="margin-bottom: 10px;"></invalid-feedback>
            </label>

            <button class="popup__form-btn" :disabled="isProcessing">
                ОТПРАВИТЬ
            </button>
        </form>
    </modal>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: '',
                phone: '',
                question: '',
            },
            isProcessing: false,
        }
    },
    methods: {
        async sendQuestion() {
            this.isProcessing = true;
            try {
                const { data } = await window.axios.post(route('zayavka').url(), this.form);
                this.$modal.hide('question-modal');
                this.$toastrSuccess('Ваша заявка успешно отправлена!');
            } catch (e) {
                //
            } finally {
                this.isProcessing = false;
            }
        },
    },
}
</script>
