<template>
    <modal
        name="register-modal"
        width="100%"
        height="auto"
        style="top: 0;"
        @before-close="beforeClose"
    >
        <span class="popup__close" @click="$modal.hide('register-modal')">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Регистрация
        </p>

        <p class="popup__desc" v-if="sended">
            Введите одноразовый пароль, высланный на почту
            <strong>{{ form.email }}</strong>
        </p>
        <form @submit.prevent="confirmCode" class="popup__form" v-if="sended">
            <code-input v-model="form.code"></code-input><!--code-->
            <invalid-feedback input="code" style="margin-bottom: 10px;"></invalid-feedback>

            <button class="popup__form-btn" type="submit">
                подтвердить
            </button>

            <div class="popup__form-bottom">
                <a href="#" @click="backRegister" class="popup__form-return">Вернуться</a>
            </div><!--popup__form-bottom-->

        </form>

        <form @submit.prevent="register" class="popup__form" v-else>
            <label class="form__label">
                <span class="form__label-title">Адрес электронной почты</span>
                <svg class="svg-icon icon-field-email"><use xlink:href="/images/sprite.svg#icon-field-email"></use></svg>
                <input type="text" name="email" class="form__field" v-model="form.email" placeholder="Введите e-mail">
            </label>
            <invalid-feedback input="email" style="margin-bottom: 10px;"></invalid-feedback>

            <button class="popup__form-btn" :disabled="isProcessing">
                Получить код
            </button>

            <p class="popup__form-info">
                Отправляя данные через электронную форму, Вы
                даете согласие на обработку персональных данных
            </p>

            <ul class="popup__form-links">
                <li>
                    <a href="#" @click="openForgetPass">Забыли пароль?</a>
                </li>
            </ul>
        </form>


    </modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import CodeInput from '@/Eshop/Components/OneLengthInput';

export default {
    components: {
        CodeInput
    },
    data() {
        return {
            form: {
                email: '',
                code: '',
            },
            isProcessing: false,
            sended: false,
        };
    },
    methods: {
        async register() {
            this.isProcessing = true;
            try {
                const { data } = await window.axios.post(route('register.code').url(), this.form);
                this.sended = true;
            } catch (e) {
                //
            } finally {
                this.isProcessing = false;
            }
        },
        backRegister() {
            this.sended = false;
        },
        async confirmCode() {
            try {
                const { data } = await window.axios.post(route('register.confirm.code').url(), this.form);
                this.$modal.hide('register-modal');
                this.sended = false;
                window.location = route('personal.profile').url();
            } catch (e) {}
        },
        openForgetPass() {
            this.$modal.hide('register-modal');
            this.$modal.show('forget-password-modal');
        },
        beforeClose(event) {
            // if (this.$page.currentRouteName == 'cart.checkout.view') {
            //     event.cancel()
            // }
        }
    },
}
</script>
