<template>
    <modal
        name="success-checkout-modal"
        width="100%"
        height="auto"
        style="top: 0;"
        @before-close="beforeClose"
    >
        <span class="popup__close" @click="closeModal">
            <svg class="svg-icon icon-close"><use xlink:href="/images/sprite.svg#icon-close"></use></svg>
        </span>

        <p class="popup__title">
            Ваш заказ принят!
        </p>

        <div class="popup__form popup-discard" style="padding-bottom: 0;">
            <p class="popup-order__thank-desc">
                Наш менеджер свяжется с Вами в ближайшее время для уточнения деталей заказа
            </p>
            <a href="/" class="yellow-btn popup-order__return">на главную</a>
        </div>

    </modal>
</template>

<script>
export default {
    data() {
        return {
            form: this.$inertia.form({
                email: '',
                password: '',
            }, {
                bag: 'login',
                resetOnSuccess: false,
            }),
        }
    },
    methods: {
        login() {
            this.form.post(route('login'), {
                preserveScroll: true
            })
        },
        closeModal() {
            window.location = '/';
            // this.$modal.hide('success-checkout-modal');
        },
        beforeClose(event) {
            if (this.$page.currentRouteName == 'cart.checkout.view') {
                event.cancel()
            }
        }
    },
}
</script>
