<template>
    <div class="count">
        <span class="count__minus" @click="minus"></span>
        <span class="count__length">{{ count }}</span>
        <span class="count__plus" @click="plus"></span>
    </div><!--count-->
</template>

<script>
export default {
    props: {
        value: Number,
        max: {
            type: Number,
            default: 5,
        }
    },
    data() {
        return {
            count: 1,
        }
    },
    beforeMount(){
        this.count = this.value
    },
    methods: {
        minus() {
            let count = parseInt(this.count) - 1;
            count = count < 1 ? 1 : count;
            this.count = count;
        },
        plus() {
            let count = parseInt(this.count) + 1;
            count = count < this.max ? count : this.max;
            this.count = count;
        },
    },
    watch: {
        count(newValue) {
            this.$emit('input', newValue)
            this.$emit('update-count')
        }
    },
}
</script>
