<template>
    <div class="scale">
        <div class="scale__prices">
            <div class="scale__price">
                <span class="scale__price-desc">от</span>
                <input type="text" class="scale__price-field" v-model="range.min" @change="updateSlider">
            </div><!--scale__price-->

            <div class="scale__price">
                <span class="scale__price-desc">до</span>
                <input type="text" class="scale__price-field" v-model="range.max" @change="updateSlider">
            </div><!--scale__price-->

        </div><!--scale__prices-->

        <div class="scaleLine" ref="slider"></div>

    </div>
</template>
<script>
export default {
    props: {
        step: {
            type: Number,
            default: 100,
        },
        minRange: {
            type: Number
        },
        maxRange: {
            type: Number
        },
        index: {
            type: Number,
            default: null
        },
    },
    data() {
        return {
            range: {
                min: 0,
                max: 0,
            },
        }
    },
    beforeMount() {
        this.range.min = this.minRange;
        this.range.max = this.maxRange;
    },
    mounted() {
        window.noUiSlider.create(this.$refs.slider, {
            start: [this.minRange, this.maxRange],
            step: this.step,
            connect: true,
            range: {
                'min': this.minRange,
                'max': this.maxRange
            }
        })
        this.$refs.slider.noUiSlider.on('update',(values, handle) => {
            this.range[handle ? 'max' : 'min'] = parseInt(values[handle]);
        });
        this.$refs.slider.noUiSlider.on('change',(values, handle) => {
            this.$emit('on-changed', this.range, this.index);
        });
    },
    methods: {
        updateSlider: function updateSlider() {
            this.$refs.slider.noUiSlider.set([this.range.min, this.range.max]);
            this.$emit('on-changed', this.range, this.index);
        }
    },
}
</script>
