<template>
    <div class="pages" v-if="showPagination">
        <template v-for="(link, key) in links">
            <inertia-link class="pages__link" :href="link.url" v-if="link.url && !link.active">
                <template v-if="link.label != 'next' && link.label != 'previous'">
                  {{ link.label }}
                </template>
                <svg class="svg-icon icon-page-next" v-else-if="link.label == 'next'"><use xlink:href="/images/sprite.svg#icon-page-next"></use></svg>
            </inertia-link>
            <a class="pages__link active" href="#" v-else-if="link.active" @click.prevent="handleNoLink">{{ link.label }}</a>
        </template>

    </div><!--pages-->
</template>

<script>
export default {
    props: {
        links: Array,
    },
    computed: {
        showPagination() {
            return this.links ? this.links.length > 3 : false;
        }
    },
    methods: {
        isActive(link) {
            return (link.active === true) ? 'active' : 'normal'
        },
        handleNoLink() {
            return false
        }
    }
}
</script>
