<template>
    <div class="pages">
        <a href="#" class="pages__link prev" @click.prevent="changePage(pagination.current_page - 1)" v-if="pagination.current_page >= 2">
            <svg class="svg-icon icon-page-next" ><use xlink:href="/images/sprite.svg#icon-prev"></use></svg>
        </a>

        <template v-for="(page, index) in pages">
            <a
                v-if="index <= offset"
                class="pages__link"
                href="#"
                :class="isCurrentPage(page) ? 'active' : ''"
                :key="'page-'+index"
                @click.prevent="changePage(page)"
            >
                {{ page }}
            </a>
        </template>

        <a href="#" class="pages__link next" @click.prevent="changePage(pagination.current_page + 1)" v-if="pagination.current_page !== pagination.last_page">
            <svg class="svg-icon icon-page-next" ><use xlink:href="/images/sprite.svg#icon-page-next"></use></svg>
        </a>

    </div>
</template>

<script>
export default {
    props: ['pagination', 'offset', 'scrollSelector'],
    methods: {
        isCurrentPage(page) {
            return this.pagination.current_page === page;
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.$emit('paginate');
            if (this.scrollSelector) {
                this.$scrollTo(this.scrollSelector)
            }
        },
    },
    computed: {
        pages() {
            const pages = [];
            let from = this.pagination.current_page - Math.floor(this.offset / 2);
            if (from < 1) {
                from = 1;
            }

            let to = from + this.offset - 1;
            if (to > this.pagination.last_page) {
                to = this.pagination.last_page;
            }

            while (from <= to) {
                pages.push(from);
                from += 1;
            }

            return pages;
        },
    },
}
</script>
