<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>О нас</span>
            </div><!--pager-->

            <div class="static">
                <h1>О нас</h1>
                <br>
                <p>
                    Мы пришли на рынок Казахстана с целью создать удобный и доступный сервис по обновлению качественной компьютерной техники с возможностью TRADE-IN.Начав работать с маленького комиссионного магазина в апреле 2019 года, за короткий период времени мы стали конкурентоспособным магазином с доступными ценами и хорошим уровнем обслуживания, о чем говорят положительные отзывы.На сегодняшний день наша компания предлагает широкий ассортимент брендовых производителей не только компьютеров, но и других типов техники.Наша цель стать крупным, известным и по настоящему народным магазином и впредь радовать наших клиентов лучшими предложениями и безупречным сервисом!
                </p>

                <p>
                    Что мы еще можем вам предложить?
                    <ul style="list-style: disc; margin-left: 16px;">
                        <li>Компьютерные сборки день в день</li>
                        <li>Скорость обработки заказов</li>
                        <li>Работа 7 дней в неделю</li>
                    </ul>
                </p>
            </div><!--diff-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
export default {
    title: 'О нас',
}
</script>
