<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>Информация о доставке</span>
            </div><!--pager-->

            <div class="static">
                <h1>Информация о доставке</h1>
                <br>
                <p>
                    К сожалению мы еще не доросли до своей службы доставки по Казахстану и потому для этого используем услуги курьерских компаний. В данный момент мы работаем с компаниями Exline и СДЭК для транспортировки товара по СНГ и зарубежью. У данных компаний нету функции наложенного платежа и в связи с этим все посылки отправляются по полной предоплате.
                </p><br>
                <p>
                    Компания ESHOP не несет ответственности за доставку курьерскими службами.
                </p><br>
            </div><!--diff-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
export default {
    title: 'Информация о доставке',
}
</script>
