<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>Сравнение товаров</span>
            </div><!--pager-->

            <div class="diff">
                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="(product, index) in products" style="border-top: 0">
                                <a :href="route('products.show', product.slug).url()" class="diff__item-photo">
                                    <img :src="product.image" :alt="product.name">
                                </a>

                                <div class="diff__item-top">
                                    <a :href="route('products.show', product.slug).url()" class="diff__item-link">{{ product.name }}</a>
                                    <p class="diff__item-price">{{ product.price | priceFilter }} ₸</p>
                                    <a href="javascript:void(0);" class="diff__item-delete" @click="removeProductComparison(index)">
                                        <svg class="svg-icon icon-delete"><use xlink:href="images/sprite.svg#icon-delete"></use></svg>
                                    </a>
                                </div>
                            </th>
                            <th colspan="1" :width="theadWidth" style="border-top: 0;border-bottom: 0;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="(product, index) in products">
                                <p style="font-size: 12px;" :class="{'visible-hide': index != 0}">Бренд</p>
                                <p class="diff__item-param-desc">{{ product.brand ? product.brand.name : '' }}</p>
                            </td>
                        </tr>
                        <tr v-for="property_value in properties">
                            <td v-for="(product, index) in products">
                                <p style="font-size: 12px;" :class="{'visible-hide': index != 0}" >{{ property_value.name }}</p>
                                <p class="diff__item-param-desc">{{ property_value.values | getProperty(product.id) }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
    </shop-layout>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    title: 'Сравнение товаров',
    props: {
        products: Array,
        propertyValues: Array,
    },
    computed: {
        properties() {
            let vm = this;
            return _.chain(this.propertyValues)
                .groupBy('property_id')
                .map(function(valuesArray, key) {
                    return {
                        name: valuesArray[0].property.name,
                        values: valuesArray,
                    }
                })
                .value();
        },
        theadWidth() {
            let width = 0;
            switch (this.products.length) {
              case 2:
                width = '40%';
                break;
              case 3:
                width = '20%';
                break;
              case 4:
                width = '0';
                break;
              default:
                width = '60%';
            }

            return width;
        }
    },
    filters: {
        getProperty: function (property_values, product_id) {
            let product = _.find(property_values, function(o) {
                return o.product_id == product_id;
            });
            return (product || {name: '-'}).name
        }
    },
    methods: {
        ...mapActions([
            'REMOVE_PRODUCT_COMPARISON',
            'GET_PRODUCTS_COMPARISON_COUNT',
        ]),
        async removeProductComparison(index) {
            try {
                let product = this.products[index];
                await this.REMOVE_PRODUCT_COMPARISON(product.id);
                this.products.splice(index, 1);
                this.GET_PRODUCTS_COMPARISON_COUNT();
            } catch (e) {}
        },
    }
}
</script>
<style>
    .visible-hide {
        visibility: hidden;
    }
</style>
