<template>
<shop-layout>
    <section class="page content">
        <div class="pager">
            <inertia-link :href="route('welcome')">Главная</inertia-link>
            <i>/</i>
            <span>Договор оферты</span>
        </div>
        <!--pager-->

        <div class="static">
            <h3 style="text-align: center">Договор публичная оферты Интернет-магазина www.eshop-online.kz</h3>
            <p>Настоящий Договор определяет взаимоотношения между ИП «Eshop» (Ешоп) именуемым в дальнейшем «Продавец», в лице Директора Максимова Е.К., с одной стороны, и «Покупателем» (физическим или юридическим лицом), принявшим публичное предложение (оферту) о заключении Договора.</p>
            <h3 style="text-align: center">1. Определения</h3>
            <p>1.1. <strong>Покупатель </strong>– полностью дееспособное физическое лицо или юридическое лицо, размещающее Заказы на сайте www.eshop-online.kz, либо указанное в качестве получателя Товара.</p>
            <p>1.2. <strong>Продавец</strong> - ИП «Eshop» (Ешоп), БИН 950520301260.</p>
            <p>1.3. <strong>Интернет-магазин</strong> - Интернет-сайт, принадлежащий Продавцу, расположенный на сервере в Республике Казахстан и имеющий адрес в сети Интернет www.eshop-online.kz, на котором представлены Товары и услуги, предлагаемые Покупателям для оформления Заказов, а также условия оплаты и доставки этих Заказов Покупателям.</p>
            <p>1.4. <strong>Сайт</strong> - www.eshop-online.kz</p>
            <p>1.5. <strong>Товар</strong> – электробытовая техника и услуги сервиса, представленные к продаже и оказнию на сайте.</p>
            <p>1.6. <strong>Заказ</strong> - должным образом оформленная заявка покупателя на приобретение перечня товаров и услуг, размещенная покупателем самостоятельно на сайте или по телефону через оператора.</p>
            <p>1.7. <strong>Мобильный банковский терминал</strong> – переносной банковский терминал, используемый работником службы доставки продавца для оплаты покупателем товаров с помощью банковских карточек.</p>
            <p>1.8. <strong>QR код</strong> – сервис безопасной оплаты товаров и услуг с возможностью рассрочки либо кредитования, предоставляемый банком при помощи мобильного приложения.</p>
            <p>1.9.<strong> on-line</strong> – способ оплаты товаров банковской карточкой посредством сети Интернет через систему непосредственно при оформлении заказа.</p>
            <h3 style="text-align: center">2. Предмет Договора</h3>
            <p>2.1. Продавец обязуется передать покупателю товар или оказать услугу, а покупатель обязуется принять и оплатить товары и услуги согласно размещенному заказу.</p>
            <h3 style="text-align: center">3. Общие положения</h3>
            <p>3.1. Настоящий Договор купли-продажи в Интернет-магазине www.eshop-online.kz определяет порядок розничной купли-продажи товаров и услуг через интернет-магазин и в совокупности с информацией о товарах и услугах, представленной на сайте является публичным договором в соответствии со ст.387 Гражданского кодекса Республики Казахстан.</p>
            <p>3.2. Оформляя заказ на товары и услуги в интернет-магазине покупатель подтверждает полное и безоговорочное согласия с условиями настоящего договора и всех приложений к нему (при их наличии), а также гарантирует, что все условия ему понятны и он принимает их безусловно и в полном объеме. Кроме того, оформляя заказ покупатель предоставляет свое безусловное согласие продавцу и его партнерам на получение сообщений рекламного характера (в форме СМС и/или пуш-уведомлений и/или посредством приложений и/или мессенджеров для смартфонов и/или телефонных звонков и/или иным образом доступным продавцу на указанный покупателем номер телефона, адрес электронной почты).</p>
            <p>3.3. Продавец оставляет за собой право вносить изменения в условия настоящего договора.</p>
            <p>3.4. Настоящий договор вступает в силу с момента направления подтверждения покупателем заказа согласно пункту 5.1.3 настоящего договора.</p>
            <p>3.5. К отношениям между продавцом и покупателем применяются положения ГК РК, Закон РК «О защите прав потребителей» от 04.05.210 № 274-IV ЗРК, Закон РК «О регулировании торговой деятельности» от 12.04.2004 года № 544-II и иные правовые акты, принятые в соответствии с указанными документами, а также положения нормативно-правовых актов РК, регулирующих оборот отдельных видов товаров (если применимо).</p>
            <p>3.6. В случае проведения рекламно-маркетинговых мероприятий стимулирующего характера (рекламных акций), в условиях указанных мероприятий, размещаемых на сайте, могут быть установлены специальные положения, регулирующие порядок оформления заказа и возврата товара в период проведения соответствующего мероприятия.</p>
            <p>Указанные условия являются неотъемлемой частью настоящего Договора и подлежат применению для лиц, принимающих условия в рекламно-маркетинговых мероприятиях. Оформление заказа на товар, участвующий в акции и/или выполнение иных условий участия в акции, означает согласие покупателя с условиями соответствующего мероприятия.</p>
            <p>3.7. В случае несогласия покупателя с каким-либо из положений договора, заказ на приобретение перечня товаров на сайте или по телефону через оператора не может быть оформлен.</p>
            <h3 style="text-align: center">4. Порядок заключения настоящего Договора и изменения его условий</h3>
            <p>4.1. Все информационные материалы, представленные на сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках товара, включая цвет, размеры и формы.</p>
            <p>4.2. В случае возникновения у покупателя вопросов, касающихся свойств и характеристик товара, перед оформлением заказа, покупатель может обратиться в магазин по телефонам 8 707 404 6999; 8 707 404 9969 непосредственно обсудив детали с менеджером в рабочее время .</p>
            <p>4.3. Заказ покупателя может быть оформлен по телефону или через Сайт:</p>
            <p>4.3.1. При оформлении заказа по телефону покупатель предоставляет сотруднику магазина информацию, необходимую для оформления заказа.</p>
            <p>4.3.2. При оформлении заказа через сайт покупатель заполняет электронную форму заказа на товар и отправляет сформированный заказ продавцу посредством сети интернет.</p>
            <p>4.4. Оформление покупателем заказа и дальнейшая передача его к исполнению, означает достаточное и полное ознакомление покупателя с товаром, с информацией о цене, о наличии или отсутствии скидок на товар.</p>
            <p>Публичное предложение (оферта) о заключении настоящего договора считается принятым покупателем с момента оформления заказа.</p>
            <p>4.5. Для подтверждения сделанного заказа и оформления заявки на доставку товара менеджер магазина связывается с покупателем по телефону, указанному покупателем в заказе.</p>
            <p>4.6. В случае отсутствия заказанных товаров на складе, продавец вправе исключить указанный товар из заказа покупателя и уведомить об этом покупателя по телефону или путем направления электронного сообщения по адресу, указанному при формировании покупателем заказа.</p>
            <p>4.7. Доставка заказанного товара покупателю осуществляется по согласованию с покупателем по адресу, указанному покупателем. Срок доставки товара оговаривается индивидуально с каждым покупателем. При получении товара покупателю необходимо предъявить документ, удостоверяющий его личность.</p>
            <p>Если получателем Заказа выступает юридическое лицо, для получения Товара необходима доверенность от организации-плательщика, оформленная надлежащим образом.</p>
            <p>4.8. Заказ считается исполненным в момент фактической передачи покупателю товаров, входящих в состав заказа на основании выданных сопроводительных документов на товары под подпись покупателя.</p>
            <p>4.9. Право собственности на товар и связанные с ним риски переходит от продавца к покупателю в момент приёмки товара покупателем и подписания сторонами сопроводительных документов.</p>
            <p>4.10. Срок и условия гарантии определяются гарантийным талоном. В случае обнаружения в течение гарантийного срока недостатков товара, Покупатель обращается в авторизированный сервисный центр по телефонам и адресам, указанным в гарантийном талоне.</p>
            <h3 style="text-align: center">5. Права и обязанности сторон</h3>
            <p>5.1 Продавец обязан:</p>
            <p>5.1.1. Поставить товар в соответствии с условиями Заказа.</p>
            <p>5.1.2. Гарантировать соответствие качества товара требованиям для аналогичных товаров на территории РК.</p>
            <p>5.1.3. В случае изменения срока доставки либо составляющих заказа, немедленно информировать покупателя об изменении условий доставки с целью получения согласия на новые условия выполнения заказа в целом, либо в части. Продавец информирует покупателя посредством телефонной либо электронной связи.</p>
            <p>5.1.4. Рассматривать претензии и заявления покупателей в соответствии с действующим законодательством РК и принимать меры к их удовлетворению.</p>
            <p>5.2. Продавец имеет право:</p>
            <p>5.2.1. Осуществить действия в соответствии с п.10.7 и п.10.8. настоящего договора.</p>
            <p>5.2.2. Привлекать третьих лиц для исполнения своих обязательств по договору.</p>
            <p>5.2.3. Отказать в возврате товара надлежащего качества, приобретенного в кредит или рассрочку при нарушениях покупателем п.5.4.3. настоящего договора.</p>
            <p>5.3 Покупатель обязан:</p>
            <p>5.3.1. Предоставлять при оформлении заказа точное наименование требуемого товара, его номер по каталогу производителя или все данные необходимые для точного определения требуемого товара (цвет, вариант исполнения).</p>
            <p>5.3.2. Оплачивать товар согласно заказам по ценам, указанным на сайте.</p>
            <p>5.3.3. При оформлении заказа предоставлять о себе достоверную и достаточную информацию, в соответствии с бланком заказа.</p>
            <p>5.4 Покупатель имеет право:</p>
            <p>5.4.1. Потребовать возврата предоплаты в случае невозможности исполнения продавцом условий заказа с учетом п.10.6. Договора.</p>
            <p>5.4.2. Внести изменения в заказ до начала его исполнения продавцом.</p>
            <p>5.4.3. Произвести обмен или возврат товара надлежащего качества согласно Закона «О защите прав потребителей». При этом в случае приобретения товара в кредит или рассрочку возврату подлежит весь заказ, частичный возврат товара в рамках одного заказа не допускается. Обмен товара надлежащего качества в рамках одного заказа, приобретенного в кредит или рассрочку, производится только на равноценный товар или на товар с более высокой ценой, с учетом соответствующей доплаты разницы в цене покупателем.</p>
            <h3 style="text-align: center">6. Цена и порядок оплаты</h3>
            <p>6.1. Цена товара или услуги указывается в каталоге сайта. В случае неверного указания продавцом цены заказанного покупателем товара или услуги, продавец при первой возможности информирует об этом покупателя для подтверждения либо аннулирования заказа. При невозможности связаться с покупателем данный заказ считается аннулированным.</p>
            <p>6.2. Оплата Заказа производится Покупателем в тенге.</p>
            <p>6.3. Оплата производится нижеперечисленными способами:</p>
            <p>6.3.1. За наличный расчет работнику службы доставки продавца либо уполномоченному представителю продавца. Стороны согласились, что при указанном в настоящем пункте способе оплаты в случае доставки товара уполномоченным представителем продавца, выдача покупателю кассового либо контрольного чека уполномоченным представителем будет является надлежащим подтверждением исполнения покупателем обязанности по оплате товара;</p>
            <p>6.3.2. Безналичным путем на банковские реквизиты продавца (для юридических лиц); Счет на оплату, выставленный продавцом, действителен в течение трех банковских дней. Оплата данного счета означает согласие с условиями поставки товара. Уведомление продавца об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту поступления денег на расчетный счет продавца, при наличии доверенности на получение ТМЦ или услуг и документа, удостоверяющего личность поверенного;</p>
            <p>6.3.3. С помощью банковской карты при получении заказа посредством мобильного банковского терминала. К оплате принимаются пластиковые карты платёжных систем VISA, VISA Electron и MasterCard. Оплата принимается только от владельца карты. Заказ товара осуществляется владельцем карты. При доставке товара, владелец карты обязан присутствовать лично, предъявить саму карту, а также документ, удостоверяющий его личность. Данные указанные на карте и на документе, удостоверяющем личность, должны совпадать;</p>
            <p>6.3.4. on-line способом: оплата производится через систему ePay непосредственно при оформлении заказа. К оплате принимаются пластиковые карты платёжных систем VISA и MasterCard. Для осуществления платежа необходимо сообщить данные пластиковой карты на авторизационный сервер системы ePay. Заказ Товара осуществляется владельцем карты. Оплата принимается только от владельца карты. При доставке товара, владелец карты обязан присутствовать лично, предъявить документ, удостоверяющий его личность. Данные указанные на документе, удостоверяющем личность и доставке, должны совпадать;</p>
            <p>6.3.5. QR кодом - посредством мобильного приложения предоставляемого банком;</p>
            <p>6.3.6. путем оформления товарного кредита или рассрочки.</p>
            <p>6.4. При безналичном расчете кассовый чек продавцом будет предоставлен покупателю в электронном виде на указанный при оформлении заказа электронную почту.</p>
            <p>6.5. Расчет с помощью имеющихся бонусов может быть осуществлен только при непосредственном оформлении заказа, а при доставке и/или во время передачи товара покупателю, бонусы не могут быть учтена в счет оплаты заказа.</p>
            <h3 style="text-align: center">7. Доставка Товаров</h3>
            <p>7.1. Доставка Товара осуществляется службой доставки продавца или иным уполномоченным им представителем во всех населенных пунктах Республики Казахстан.</p>
            <p>7.2. Доставка товаров осуществляется только с центрального склада г. Алматы.</p>
            <p>7.3. Покупатель может получить свой товар самостоятельно в магазине Eshop.</p>
            <p>7.3.1. в случае оплаты банковской карточкой через интернет (on-line способом) предоставить продавцу подтверждение произведенной оплаты, назвав номер и дату заказа;</p>
            <p>7.3.2. при оплате в магазине наличным путем или с помощью банковской карточки, назвав номер и дату заказа.</p>
            <p>7.4. при оформлении товарного кредита или рассрочки покупатель должен назвать номер и дату заказа.</p>
            <p>7.7. Срок резерва товара: 3 (три) календарных дня с даты подтверждения заказа.</p>
            <h3 style="text-align: center">8. Приемка Заказа</h3>
            <p>8.1. При приемке заказа покупатель обязан:</p>
            <p>8.1.1. Провести осмотр на предмет наличия внешнего повреждения упаковки.</p>
            <p>8.1.2. Вскрыть в присутствии работника службы доставки или уполномоченного представителя продавца внешнюю упаковку с целью проверки сохранности содержимого упаковки, осмотреть товар на предмет целостности его индивидуальной упаковки и наличия внешних повреждений на нем.</p>
            <p>Убедившись в сохранности упаковки и в отсутствии на ней следов вскрытия и внешних повреждений, открыть индивидуальную упаковку и проверить наличие в ней товара. Убедившись в наличии товара и отсутствии на нем следов механических повреждений, сверить артикул получаемого товара с артикулом, проставленным в сопроводительном документе, проверить комплектацию и цвет товара.</p>
            <p>8.1.3. В случае отсутствия внешних повреждений упаковки и товара, подписать сопроводительные документы, подтверждающие получение заказа.</p>
            <p>8.1.4. В случае наличия претензий потребовать от работника службы доставки или уполномоченного представителя продавца составить акт приемки в 3-х экземплярах. В акте приемки описываются все повреждения упаковки товара, механические повреждения товара и/или его некомплектность. Один экземпляр акта приемки остается у покупателя, два экземпляра у продавца.</p>
            <p>8.1.5. Если упаковка цела, а сам товар имеет видимые повреждения или не доукомплектован, покупатель указывает в акте приемки информацию о том, что повреждений упаковки не обнаружено, но он отказывается от получения данного товара и описывает повреждения/некомплектность товара. После этого работник службы доставки продавца или уполномоченный представитель продавца забирает товар для его последующей замены.</p>
            <h3 style="text-align: center">9. Ответственность сторон</h3>
            <p>9.1. Продавец не несет ответственности за ущерб, причиненный покупателю вследствие ненадлежащего использования товаров, заказанных на сайте.</p>
            <p>9.2. Покупатель несет ответственность за достоверность и достаточность предоставленной при оформлении заказа информации.</p>
            <p>9.3. Стороны несут ответственность за исполнение обязательств по настоящему договору в соответствии с Законом «О Защите прав потребителей», Гражданским кодексом Республики Казахстан, Законом «О регулировании торговой деятельности» и другими нормативно-правовыми актами.</p>
            <p>9.4. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если неисполнение является следствием таких непреодолимых обстоятельств как: война или военные действия, землетрясение, наводнение, пожар и другие стихийные бедствия, акты или действия органов государственной власти, изменение таможенных правил, ограничения импорта и экспорта, возникших независимо от воли сторон после заключения настоящего Договора.</p>
            <p>Сторона, которая не может исполнить свои обязательства, незамедлительно извещает об этом другую сторону и предоставляет документы, подтверждающие наличие таких обстоятельств, выданные уполномоченными на то органами.</p>
            <h3 style="text-align: center">10. Порядок рассмотрения претензий и разрешения споров</h3>
            <p>10.1. В случае возникновения вопросов и претензий со стороны покупателя, он может обратиться в магазин по телефонам 8 707 404 6999; 8 707 404 9969.</p>
            <p>10.2. При возникновении претензий относительно качества товара, покупатель вправе предъявить их в течение гарантийного срока на товар в соответствии с Законом «О Защите прав потребителей».</p>
            <p>10.3. Претензии относительно потери работоспособности товара в ходе его эксплуатации в случаях, на которые распространяются гарантийные обязательства производителя товара рассматриваются на основании заключений авторизированных сервисных центров. Адреса и телефоны авторизированных сервисных центров указаны в гарантийном талоне на товар.</p>
            <p>10.4. В случае обнаружения, что недостатки товара возникли не по вине продавца расходы по проведению экспертизы ложатся на покупателя.</p>
            <p>10.5. В случае выявления недостатков товара, возникших из-за дефектов изготовления или материалов (то есть, вследствие обстоятельств, за которые отвечает изготовитель) и при невозможности устранения этих недостатков рокупатель имеет право обменять товар или возвратить сумму, уплаченную за товар при предоставлении заключения авторизированного сервисного центра с указанием причин поломки товара, а также гарантийного талона, заполненного надлежащим образом и документа, подтверждающего оплату товара через интернет-магазин.</p>
            <p>10.6. При наличии законных оснований для обмена товара или возврата денежных средств покупателю, возврат/обмен товара осуществляется по согласованию с продавцом в магазине, действующем под товарным знаком «Eshop», с учетом ограничений, указанных в п.5.4.3. настоящего договора.</p>
            <p>10.7. Продавец имеет право отказать в удовлетворении претензии по возвращаемому товару надлежащего качества при отсутствии упаковки или при потере ее товарного вида, обнаружении внешних повреждений товара, несоответствии номеров на товаре, упаковке или гарантийном талоне.</p>
            <p>10.8. При обмене или возврате покупателем товара надлежащего качества продавец вправе требовать от покупателя возмещения расходов, понесенных продавцом при организации обмена или возврата товара.</p>
            <p>10.9. Стороны примут все меры к разрешению споров и разногласий, которые могут возникнуть при исполнении обязательств по договору путем переговоров.</p>
            <p>10.10. В случае если Стороны не пришли к соглашению, все споры подлежат рассмотрению в соответствии с действующим законодательством РК. В судебном порядке по месту нахождения магазина “Eshop”.</p>
            <h3 style="text-align: center">11. Конфиденциальность</h3>
            <p>11.1 Продавец гарантирует, что никакая полученная от покупателя информация никогда и ни при каких условиях не будет предоставлена третьим лицам, за исключением случаев, предусмотренных действующим законодательством Республики Казахстан.</p>
            <p>11.2 Продавец может запросить у покупателя предоставить личные сведения. Предоставленная информация используется исключительно при обработке заказа в интернет-магазине или для предоставления покупателю доступа к специальной информации. Личные сведения покупатель может изменить, обновить или удалить.</p>
            <p>11.3 Для обеспечения покупателя информацией определенного рода, продавец может присылать на указанный при регистрации адрес электронный почты информационные сообщения. В любой момент покупатель может изменить тематику такой рассылки или отказаться от нее.</p>
            <p>11.4 При оплате заказа с помощью банковских карт информация о карточке и о ее держателе передается в защищенном виде на авторизационный сервер банка и не предоставляется продавцу или третьим лицам. При этом никакая конфиденциальная информация, кроме уведомления об оплате в интернет-магазин продавцу не передается.</p>
            <p>ПРОДАВЕЦ:</p>
            <p>ИП «Eshop» (Ешоп)</p>
            <p>БИН 950520301260.</p>
            <p>Тел: + 7 707 404 6999</p>
        </div>

    </section>
</shop-layout>
</template>

<script>
export default {
    title: 'Договор оферты',
}
</script>
