<template>
    <shop-layout>
        <section class="page page_favorites content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>Мои закладки</span>
            </div><!--pager-->

            <div class="favorites">
                <div class="favorites__header">
                    <div class="favorites__col">
                        Изображение
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        Наименование товара
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        Доступность
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        Цена
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        Действие
                    </div><!--favorites__col-->

                </div><!--favorites__header-->

                <div class="favorite" v-for="(product, index) in products">
                    <div class="favorites__col">
                        <div class="favorite__photo">
                            <img class="pos-center" :src="product.image" alt="Ноутбук Lenovo G505s">
                        </div><!--favorite__photo-->

                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        <a :href="route('products.show', product.slug).url()" class="favorite__title">
                            {{ product.name }}
                        </a>

                        <p class="favorite__param">
                            Код товара: <strong>{{ product.article }}</strong>
                        </p>

                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        <p class="favorite__desc">
                            <span class="avail" v-if="product.is_available" :style="`color: ${product.status.color}`">{{ product.status.name }}</span>
                            <span class="not-avail" v-else>Нет в наличии</span>
                        </p>
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        <p class="favorite__desc">{{ product.price | priceFilter }} ₸ </p>
                    </div><!--favorites__col-->

                    <div class="favorites__col">
                        <a href="#" class="favorite__add-basket" @click="addToCart(product.id)">
                            <svg class="svg-icon icon-basket-add pos-center"><use xlink:href="images/sprite.svg#icon-basket-add"></use></svg>
                        </a>

                        <span class="favorite__delete" @click="removeFavoriteProduct(index)">
                            <svg class="svg-icon icon-delete"><use xlink:href="images/sprite.svg#icon-delete"></use></svg>
                        </span>

                    </div><!--favorites__col-->

                </div><!--favorite-->

            </div><!--favorites-->

        </section><!--page-->

    </shop-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    title: 'Мои закладки',
    props: {
        products: Array,
    },
    methods: {
        ...mapActions([
            'ADD_CART',
            'REMOVE_FAVORITE_PRODUCT',
            'GET_FAVORITE_PRODUCTS_COUNT',
            'GET_CART_COUNT',
        ]),
        async addToCart(id) {
            try {
                let item = { id, quantity: 1};
                await this.ADD_CART(item);
                this.$modal.show('item-added-cart-modal');
                this.GET_CART_COUNT();
            } catch (e) {}
        },
        async removeFavoriteProduct(index) {
            try {
                let product = this.products[index];
                await this.REMOVE_FAVORITE_PRODUCT(product.id);
                this.products.splice(index, 1);
                this.GET_FAVORITE_PRODUCTS_COUNT();
            } catch (e) {}
        },
    }
}
</script>
