<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>Политика конфиденциальности</span>
            </div><!--pager-->

            <div class="static">
                <h1>Политика конфиденциальности персональных данных</h1>
                <br>

                    <p>Настоящая Политика конфиденциальности (далее – Политика конфиденциальности) является публичным Договором, заключенным между владельцем Интернет-магазина ИП «Eshop» (Ешоп) и Покупателем в соответствии со ст.387 Гражданского кодекса Республики Казахстан, основана на Законе Республики Казахстан «О персональных данных и их защите», действует в отношении информации, содержащей персональные данные Покупателей, которую Интернет-магазин www.eshop-online.kz (далее – Интернет-магазин) может получить о Покупателях во время пользования ими сайтом Интернет-магазина.</p>
                    <h3>1. Определение терминов</h3>
                    <p>1.1. Персональные данные - сведения, относящиеся к определенному или определяемому на их основании субъекту персональных данных, зафиксированные на электронном, бумажном и (или) ином материальном носителе.</p>
                    <p>1.2. Неличные данные - сведения, которые автоматически передаются в процессе просмотра Покупателем рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы: адрес запрашиваемой страницы, информацию cookie, IP-адрес, информацию о браузере, реферер (адрес предыдущей страницы), время доступа.</p>
                    <p>1.3. Сбор персональных данных - действия, направленные на получение персональных данных.</p>
                    <p>1.3.1. субъект персональных данных - физическое лицо, к которому относятся персональные данные;</p>
                    <p>1.4. Обработка персональных данных - действия, направленные на накопление, хранение, изменение, дополнение, использование, распространение, обезличивание, блокирование и уничтожение персональных данных.</p>
                    <p>1.5. Защита персональных данных - комплекс мер, в том числе правовых, организационных и технических, осуществляемых в целях, установленных Законом РК «О персональных данных и их защите».</p>
                    <p>1.6. Интернет-магазин - Интернет-сайт, расположенный на сервере в г. Алматы и имеющий адрес в сети Интернет www.eshop-online.kz, на котором представлены товары, предлагаемые Покупателям для оформления Заказов, а также условия оплаты и доставки этих Заказов Покупателям.</p>
                    <p>1.7. Сервисы Интернет-сайта – все услуги, доступные для использования на сайте www.eshop-online.kz.</p>
                    <p>1.8. Покупатель – пользователь Интернет-магазина.</p>
                    <p>1.9. Продавец - ИП «Eshop» (Ешоп), являющееся владельцем Интернет-магазина, свидетельство о государственной регистрации талон №KZ38TWQ0189836, БИН 950520301260.</p>
                    <p>1.10. Cookies — это небольшие текстовые файлы, в которые браузер записывает данные с посещенных Покупателями сайтов. Cookies исполняют целый ряд функций, например, позволяют Покупателю эффективно перемещаться между страницами, запоминая его предпочтения, и, таким образом, улучшает опыт взаимодействия с Интернет-сайтом. Они также могут способствовать тому, что реклама, которую видит Покупатель онлайн, соответствует его интересам. Если не использовать cookies, то невозможно будет вообще купить товар в Интернет-магазине, так как вся работа корзины построена на сохранении данных с этих файлов. К примеру, если Покупатель выберет товар в Интернет-магазине, положит его в корзину и перейдет на новую страницу, то этот товар просто не сохранится в корзине.</p>
                    <p>1.11. IP-адрес — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP, позволяющий определить местонахождение Покупателя. Интернет-магазин не отслеживает местоположение, подробнее чем город и область.</p>
                    <h3>2. Предмет политики конфиденциальности</h3>
                    <p>2.1. Настоящая Политика конфиденциальности устанавливает обязательства Продавца по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Покупатель предоставляет по запросу Продавца при регистрации на сайте Интернет-магазина и/или при оформлении заказа для приобретения товара.</p>
                    <p>2.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Покупателем путём заполнения регистрационной формы на сайте Интернет-магазина.</p>
                    <p>2.3. Любая иная персональная информация (история покупок, используемые браузеры и операционные системы и т.д.) также подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.5.3. и п.5.4. настоящей Политики конфиденциальности.</p>
                    <h3>3. Цели сбора и обработки персональных данных Покупателей</h3>
                    <p>3.1. Продавец собирает, обрабатывает и хранит только те персональные данные, которые необходимы для предоставления Сервисов и/или приобретения Покупателем Товара из каталога Интернет-магазина, а также предоставления иных сопутствующих услуг партнерами Продавца (предоставление кредитов/рассрочки для приобретения Товара и т.п.).</p>
                    <p>3.2. Персональные данные Покупателя Продавец использует в целях:</p>
                    <p>3.2.1. идентификации Покупателя для оформления заказа и/или заключения Договора купли-продажи товара;</p>
                    <p>3.2.2. обработки и получения от Покупателя платежей;</p>
                    <p>3.2.3. доставки Покупателю товара;</p>
                    <p>3.2.4. предоставления Покупателю эффективной клиентской поддержки;</p>
                    <p>3.2.5. предоставления Покупателю персонализированных Сервисов;</p>
                    <p>3.2.6. связи с Покупателем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработки запросов и заявок от Покупателя;</p>
                    <p>3.2.7. улучшения качества Сервисов, удобства их использования, разработка новых Сервисов и услуг;</p>
                    <p>3.2.8. информирования Покупателя о проводимых мероприятиях и акциях;</p>
                    <p>3.2.9. проведения статистических и иных исследований на основе неличных данных, а также оптимизации рекламных сообщений;
                    <p>3.2.10. возможности реализации Товара Покупателям в кредит или рассрочку.</p>
                    <h3>4. Права и обязанности сторон</h3>
                    <p>4.1. Покупатель обязан:</p>
                    <p>4.1.1. предоставлять информацию о персональных данных, необходимую для пользования Интернет-магазином;</p>
                    <p>4.1.2. изменять, дополнять предоставленную информацию в случае обнаружения некорректных данных при пользовании Интернет-магазином.</p>
                    <p>4.2. Покупатель имеет право:</p>
                    <p>4.2.1. на доступ и редактирование информации о персональных данных в любое время через веб-интерфейс, предоставляемый в рамках сервисов.</p>
                    <p>4.3. Продавец обязан:</p>
                    <p>4.3.1. использовать полученную информацию исключительно для целей, указанных в разделе 3 настоящей Политики конфиденциальности;</p>
                    <p>4.3.2. обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Покупателя переданных персональных данных, за исключением передачи данных в целях выполнения заказа Покупателя (курьерским службам, организациям почтовой связи и т.п.), сотрудничества с контрагентами Продавца в рамках заключенных договоров (банками при реализации Товара Покупателям в кредит или рассрочку и т.п.), а также уполномоченным государственным органам Республики Казахстан в порядке, установленным законодательством РК;</p>
                    <p>4.3.3. принимать меры предосторожности для защиты конфиденциальности персональных данных Покупателя согласно порядку, обычно используемого для защиты такого рода информации.</p>
                    <p>4.4. Продавец имеет право:</p>
                    <p>4.4.1. предоставлять доступ для сбора и анализа неличных данных Покупателей третьим лицам для целей статистики и оптимизации рекламных сообщений. Использование неличных данных третьими лицами регулируется их собственными политиками конфиденциальности, и Интернет-магазин не несет ответственности за их использование;</p>
                    <p>4.4.2. передавать персональные данные Покупателей контрагентам Продавца, оказывающим услуги, непосредственно связанные с реализацией Товара (курьерским службам, организациям почтовой связи, банкам при реализации Товара Покупателям в кредит или рассрочку и т.п.).</p>
                    <p>5. Прочие условия</p>
                    <p>5.1. Пользование Покупателем Интернет-магазином означает его согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Покупателя.</p>
                    <p>5.2. В случае несогласия с условиями Политики конфиденциальности Покупатель должен прекратить пользование Интернет-магазином.</p>
                    <p>5.3. Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина www.eshop-online.kz. Интернет-магазин не несет ответственность за сайты третьих лиц, на которые Покупатель может перейти по ссылкам, доступным на сайте Интернет-магазина.</p>
                    <p>5.4. Продавец, в силу специфики способа получения информации, не проверяет достоверность предоставленных Покупателем персональных данных и не осуществляет контроль их актуальности. Однако, Продавец исходит из того, что Покупатель предоставляет достоверные персональные данные и поддерживает эти данные в актуальном состоянии. Всю ответственность, а также возможные последствия за предоставление недостоверных или не актуальных персональных данных несёт Покупатель.</p>
                    <p>5.5. Отключение Сookies может повлечь невозможность доступа к частям сайта Интернет-магазина, требующим авторизации.
                    <p>5.6. Интернет-магазин осуществляет сбор статистики об IP-адресах своих Покупателей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.</p>
                    <p>5.7. К настоящей Политике конфиденциальности и отношениям между Покупателем и Продавцом применяется действующее законодательство Республики Казахстан.</p>
                    <p>5.8. Продавец оставляет за собой право на одностороннее изменение настоящей Политики конфиденциальности для дальнейшего совершенствования системы безопасности в соответствии с действующим законодательством РК.</p>
            </div><!--diff-->

        </section><!--page-->
    </shop-layout>
</template>

<script>
export default {
    title: 'Политика конфиденциальности',
}
</script>
