<template>
    <shop-layout>
        <div class="main__slide">
            <div class="content">
                <div class="main__slide-left width700">
                    <p class="main__slide-title">
                        Сервисное обслуживание
                    </p>

                    <p class="main__slide-desc">
                        Мы предоставляем качественные услуги сервисного обслуживания
                    </p>

                    <a href="javascript:void(0)" class="blue-btn main__slide-link" @click="$scrollTo('#zayavka')">Заказать</a>

                </div><!--main__slide-left-->

                <div class="main__slide-photo main__slide-photo_service">
                    <img src="/images/main-slider/slide-2.png" alt="Слайд">
                </div><!--main__slide-photo-->

            </div><!--content-->

            <i class="main__slide-bg"></i>

        </div><!--main__slide-->

        <section class="categories content">
            <h2>
                Прайс-лист услуг
            </h2>

            <table class="service_table">
              <tr>
                <th>Услуга</th>
                <th>Время выполнения</th>
                <th>Цена</th>
              </tr>
              <tr>
                <td>Диагностика</td>
                <td>до 3х дней</td>
                <td>Бесплатная</td>
              </tr>
              <tr>
                <td>Антивирус</td>
                <td>до 3х дней</td>
                <td>от 7 000 ₸</td>
              </tr>
              <tr>
                <td>Чистка пк/ноутбука</td>
                <td>до 3х дней</td>
                <td>от 5 000 ₸</td>
              </tr>
              <tr>
                <td>Чистка видеокарты</td>
                <td>до 3х дней</td>
                <td>от 3 000 ₸</td>
              </tr>
              <tr>
                <td>Восстановление данных</td>
                <td>до 3х дней</td>
                <td>от 20 000 ₸</td>
              </tr>
              <tr>
                <td>Установка драйверов</td>
                <td>до 3х дней</td>
                <td>от 1 000 ₸</td>
              </tr>
              <tr>
                <td>Прошивка BIOS-a</td>
                <td>до 3х дней</td>
                <td>от 5 000 ₸</td>
              </tr>
              <tr>
                <td>Сборка пк</td>
                <td>до 3х дней</td>
                <td>от 3 000 ₸</td>
              </tr>
              <tr>
                <td>Замена комплектующих</td>
                <td>до 3х дней</td>
                <td>от 1 000 ₸</td>
              </tr>
              <tr>
                <td>Обслуживание 1С</td>
                <td>до 3х дней</td>
                <td>от 15 000 ₸</td>
              </tr>
              <tr>
                <td>Ремонт принтера</td>
                <td>до 3х дней</td>
                <td>от 10 000 ₸</td>
              </tr>
              <tr>
                <td>Установка SSD (ноутбук)</td>
                <td>до 3х дней</td>
                <td>от 2 000 ₸</td>
              </tr>
              <tr>
                <td>Замена матрицы</td>
                <td>до 3х дней</td>
                <td>от 3 000 ₸</td>
              </tr>
              <tr>
                <td>Замена клавиатуры</td>
                <td>до 3х дней</td>
                <td>от 2 000 ₸</td>
              </tr>
              <tr>
                <td>Установка программ</td>
                <td>до 3х дней</td>
                <td>от 1 000 ₸</td>
              </tr>
              <tr>
                <td>Обжим UTP кабеля</td>
                <td>до 3х дней</td>
                <td>500 ₸</td>
              </tr>

            </table>

            <button id="zayavka" class="app__btn" @click="$modal.show('question-modal');">Заказать услуги</button>
        </section>

    </shop-layout>
</template>

<script>
export default {
    title: 'Сервисное обслуживание',
}
</script>
