<template>
    <shop-layout>
        <section class="main">
            <div class="main__slides owl-carousel" v-owlcarousel-main>
                <div class="main__slide">
                    <div class="content">
                        <div class="main__slide-left">
                            <p class="main__slide-title">
                                сборка компьютера
                            </p>

                            <p class="main__slide-desc">
                                мы поможем подобрать сборку по вашим параметрам
                            </p>

                            <a href="javascript:void(0)" class="blue-btn main__slide-link" @click="$scrollTo('#zayavka')">подробнее</a>

                        </div>
                        <!--main__slide-left-->

                        <div class="main__slide-photo">
                            <img src="images/main-slider/slide-1.png" alt="Слайд">
                        </div>
                        <!--main__slide-photo-->

                    </div>
                    <!--content-->

                    <i class="main__slide-bg"></i>

                </div>
                <!--main__slide-->
            </div>
            <!--main__slides-->
        </section>
        <!--main-->
        <section class="categories content" id="welcom-categories">
            <h2>
                категории товаров
            </h2>
            <shop-category-list></shop-category-list>
            <!--categories__list-->

        </section>
        <!--categories-->

        <section class="app" id="zayavka">
            <div class="content">
                <p class="app__title">
                    Мы также предоставляем услуги сервисного обслуживания:
                </p>

                <ul class="app__services">
                    <li>ремонт компьютеров и ноутбуков</li>
                    <li>гарантийное обслуживание</li>
                </ul>

                <button class="app__btn" @click="$modal.show('question-modal')">Оставить заявку</button>

            </div>
            <!--content-->

        </section>
        <!--app-->

        <section class="brands">
            <div class="content">
                <div class="brands__slider">
                    <ul class="brands__slides owl-carousel" v-owlcarousel-brands>
                        <li class="brand va-middle">
                            <img src="images/brands/logo-1.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-2.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-3.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-4.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-5.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-1.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-2.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-3.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-4.png" alt="Лого">
                        </li>

                        <li class="brand va-middle">
                            <img src="images/brands/logo-5.png" alt="Лого">
                        </li>

                    </ul>

                    <span class="brands__control-prev">
                        <svg class="svg-icon icon-brands-prev">
                            <use xlink:href="/images/sprite.svg#icon-brands-prev"></use>
                        </svg>
                    </span>

                    <span class="brands__control-next">
                        <svg class="svg-icon icon-brands-next">
                            <use xlink:href="/images/sprite.svg#icon-brands-next"></use>
                        </svg>
                    </span>

                </div>
                <!--brands__slider-->

            </div>
            <!--content-->

        </section>
        <!--brands-->

        <shop-recommendations></shop-recommendations>

    </shop-layout>
</template>

<script>
export default {
    title: 'Главная',
    props: {
        categories: Object,
    },
}
</script>
