<template>
    <transition name="fade">
        <div class="categories__list flex-container" v-if="categories">
            <div class="category category_1">
                <a href="javascript:void(0)" class="category__title">компьютеры</a>
                <div class="category__links" v-if="categories.pc">
                    <a
                        v-for="child in categories.pc.children"
                        :href="route('catalog.view', child.slug)"
                        class="category__link">
                        {{ child.name }}
                    </a>
                </div>
                <!--category__links-->

                <i class="category__bg category__bg_1"></i>

            </div>

            <div class="category category_2">
                <a href="javascript:void(0)" class="category__title">Комплектующие для ПК</a>
                <div class="category__links" v-if="categories.komplektuyushhie">
                    <a
                        v-for="child in categories.komplektuyushhie.children"
                        :href="route('catalog.view', child.slug)"
                        class="category__link">
                        {{ child.name }}
                    </a>
                </div>
                <!--category__links-->

                <i class="category__bg category__bg_2"></i>

            </div>

            <div class="category category_3">
                <a href="javascript:void(0)" class="category__title">перифирия</a>
                <div class="category__links" v-if="categories.perifiriya">
                    <a
                        v-for="child in categories.perifiriya.children"
                        :href="route('catalog.view', child.slug)"
                        class="category__link">
                        {{ child.name }}
                    </a>
                </div>
                <!--category__links-->

                <i class="category__bg category__bg_3"></i>

            </div>

            <div class="category_4">
                <div class="category category_6">
                    <a href="javascript:void(0)" class="category__title">ноутбуки</a>
                    <div class="category__links" v-if="categories.laptops">
                        <a
                            v-for="child in categories.laptops.children"
                            :href="route('catalog.view', child.slug)"
                            class="category__link">
                            {{ child.name }}
                        </a>
                    </div>
                    <!--category__links-->

                    <i class="category__bg category__bg_4"></i>

                </div>
                <div class="category category_5">
                    <a href="javascript:void(0)" class="category__title">Компьютерная мебель</a>
                    <div class="category__links" v-if="categories.mebel">
                        <a
                            v-for="child in categories.mebel.children"
                            :href="route('catalog.view', child.slug)"
                            class="category__link">
                            {{ child.name }}
                        </a>
                    </div>
                    <!--category__links-->

                    <i class="category__bg category__bg_5"></i>

                </div>
            </div>

            <div class="category_8">
                <div class="category category_97">
                    <a href="#" class="category__title">Электротранспорт</a>
                    <div class="category__links" v-if="categories.elektrotransport">
                        <a
                            v-for="child in categories.elektrotransport.children"
                            :href="route('catalog.view', child.slug)"
                            class="category__link">
                            {{ child.name }}
                        </a>
                    </div><!--category__links-->


                    <img src="/images/categories/category-97.png" class="img_97">
                    <div class="img_97_bg"></div>
                </div>
                <div class="category category_88">
                    <a href="#" class="category__title">телевизоры и аксессуары</a>
                    <div class="category__links" v-if="categories.tv">
                        <a
                            v-for="child in categories.tv.children"
                            :href="route('catalog.view', child.slug)"
                            class="category__link">
                            {{ child.name }}
                        </a>
                    </div><!--category__links-->
                    <i class="category__bg category__bg_88"></i>
                </div>
            </div>

             <div class="category_9">
                 <div class="category category_87">
                     <a href="#" class="category__title">климатическая техника</a>
                     <div class="category__links" v-if="categories.klimat">
                         <a
                             v-for="child in categories.klimat.children"
                             :href="route('catalog.view', child.slug)"
                             class="category__link">
                             {{ child.name }}
                         </a>
                     </div><!--category__links-->
                     <i class="category__bg category__bg_87"></i>
                 </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    data() {
        return {
            categories: []
        }
    },
    mounted() {
        this.getCategoryList()
    },
    methods: {
        async getCategoryList() {
            const { data } = await window.axios.get(route('category.list').url());
            this.categories = data.categories;
        },
    },
}
</script>
