<template>
    <aside class="filter">
        <span class="filter__btn">
            Фильтр <i></i>
        </span>

        <div class="filter__content">
            <eshop-filter title="Цена" id="priceFilter">
                <no-ui-slider title="Цена" :min-range="filter.start_price" :max-range="filter.end_price" @on-changed="updatePrice"/>
            </eshop-filter>

            <eshop-filter title="Производитель" id="brandFilter">
                <eshop-brand-filter :category="category" v-model="filter.brands"/>
            </eshop-filter>

            <template v-for="(option, index) in options">
                <eshop-filter :title="option.name" :id="`option-${option.id}`">
                    <template v-if="option.type == 'checkbox'">
                        <template  v-for="(value, vindex) in option.values">
                            <slide-up-down :active="vindex < optionsToShow[index]"  :duration="500" :use-hidden="true" style="margin-bottom: 10px;">
                                <label class="checkbox">
                                    <input type="checkbox" name="options[]" v-model="filter.options" :value="value.id">
                                    <span class="checkbox__btn">
                                        <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                                    </span>
                                    <span class="checkbox__title">{{ value.name }}</span>
                                    <span class="checkbox__count" v-if="value.products_count">{{ value.products_count }}</span>
                                </label>
                            </slide-up-down>
                        </template>
                    </template>
                    <template v-if="option.type == 'slider'">
                        <no-ui-slider :title="option.name" :step="option.data.step" :min-range="option.data.min" :max-range="option.data.max" :index="index" @on-changed="updateOptions">
                        </no-ui-slider>
                    </template>
                    <button
                        class="btn__link filter__block-else"
                        @click="optionsShowMore(index, option.values.length)"
                        v-if="optionsToShow[index] < option.values.length"
                    >
                        Показать еще
                    </button>
                </eshop-filter>
            </template>

        </div>

    </aside>
</template>

<script>
import EshopFilter from '@/Eshop/Components/Filters/Filter';
import EshopBrandFilter from '@/Eshop/Components/Filters/BrandFilter';

export default {
    props: {
        filter: Object,
        category: Object,
    },
    components: {
        EshopFilter,
        EshopBrandFilter,
    },
    data() {
        return {
            options: [],
            showGroup: [],
            optionsToShow: [],
        }
    },
    mounted() {
        $('.filter__btn').on('click', function() {
            if($(this).hasClass('open')) {
                $(this).removeClass('open');
                $('.filter__content').slideUp();
            } else {
                $(this).addClass('open');
                $('.filter__content').slideDown();
            }
        });

        this.getCategoryOptions();
    },
    methods: {
        async getCategoryOptions() {
            const { data } = await window.axios.get(route('filter.options', this.category.id).url());
            this.options = data.options;
            this.options.forEach((item, i) => {
                this.optionsToShow[i] = 5;
            });
        },
        optionsShowMore(index, count) {
            this.$set(this.optionsToShow, index, count);
        },
        updatePrice(range,id) {
            this.filter.start_price = range.min
            this.filter.end_price = range.max
        },
        updateOptions(range, index) {
            let option = {
                id: this.options[index].id,
                ranges: [range.min, range.max],
            }
            let finded = this.filter.optionsDiapason.findIndex(o => o.id === this.options[index].id);
            if (finded >= 0) {
                this.$set(this.filter.optionsDiapason, finded, option)
            } else {
                this.filter.optionsDiapason.push(option);
            }

        },

    },
}
</script>
