<template>
    <aside class="personal__aside">
        <div class="personal__links">
            <inertia-link :href="route('personal.profile')" class="personal__link" :class="{ 'active': $page.currentRouteName == 'personal.profile'}">
                <svg class="svg-icon icon-personal-link-1"><use xlink:href="/images/sprite.svg#icon-personal-link-1"></use></svg>
                <span>Мой профиль</span>
            </inertia-link>

            <inertia-link :href="route('personal.orders')" class="personal__link" :class="{ 'active': $page.currentRouteName == 'personal.orders'}">
                <svg class="svg-icon icon-personal-link-2"><use xlink:href="/images/sprite.svg#icon-personal-link-2"></use></svg>
                <span>История заказов</span>
            </inertia-link>


            <inertia-link :href="route('personal.update-password')" class="personal__link" :class="{ 'active': $page.currentRouteName == 'personal.update-password'}">
                <svg class="svg-icon icon-personal-link-3"><use xlink:href="/images/sprite.svg#icon-personal-link-3"></use></svg>
                <span>Смена пароля</span>
            </inertia-link>

            <a href="#" @click="logout" class="personal__link">
                <svg class="svg-icon icon-personal-link-3"><use xlink:href="/images/sprite.svg#icon-logout"></use></svg>
                <span>Выйти</span>
            </a>

        </div><!--personal__links-->

    </aside>
</template>

<script>
export default {
    methods: {
        logout() {
            window.axios.post(route('logout').url()).then(response => {
                window.location = '/';
            })
        }
    }
}
</script>
