<template>
    <section class="catalog content" v-if="products.length > 0">
        <h2>
            рекомендуем
        </h2>

        <div class="catalog__list flex-container">
            <div class="catalog__item" v-for="product in products">
                <a :href="route('products.show', product.slug).url()" class="catalog__item-photo">
                    <img :src="product.image" :alt="product.name">
                </a>

                <a :href="route('products.show', product.slug).url()" class="catalog__item-title">
                    {{ product.name }}
                </a>

                <div class="catalog__item-rating">
                    <star-rating :star-size="18" :show-rating="false" :read-only="true" :increment="0.01" :rating="product.rating"></star-rating>
                </div><!--catalog__item-rating-->

                <p class="catalog__item-status">
                    <span class="avail" v-if="product.is_available">{{ product.available_status }}</span>
                    <span class="not-avail" v-else>Нет в наличии</span>
                </p>

                <p class="catalog__item-price">
                    {{ product.price | priceFilter }} ₸
                </p>

                <p class="catalog__item-price catalog__item-price_old" v-if="product.old_price">
                    {{ product.old_price | priceFilter }} ₸
                </p>

                <button class="catalog__item-add" @click="addToCart(product.id)">Добавить в корзину</button>

                <div class="catalog__item-control">
                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-favorite"><use xlink:href="/images/sprite.svg#icon-product-favorite"></use></svg>
                    </a>

                    <a href="#" class="catalog__item-link">
                        <svg class="svg-icon icon-product-diff"><use xlink:href="/images/sprite.svg#icon-product-diff"></use></svg>
                    </a>

                    <a :href="route('products.show', product.slug).url()" class="catalog__item-link">
                        <svg class="svg-icon icon-product-view"><use xlink:href="/images/sprite.svg#icon-product-view"></use></svg>
                    </a>

                </div><!--catalog__item-control-->

            </div><!--catalog__item-->

        </div><!--catalog__list-->

    </section><!--catalog-->
</template>

<script>
import { mapActions } from 'vuex';

export default {
    props: {
        limit: {
            type: Number,
            default: 8,
        }
    },
    data() {
        return {
            products: [],
        }
    },
    computed: {
        params() {
            return {
                limit: this.limit,
            };
        }
    },
    mounted() {
        this.getProducts();
    },
    methods: {
        ...mapActions([
            'ADD_CART',
            'GET_CART_COUNT',
        ]),
        async getProducts() {
            const { data } = await window.axios.get(route('products.recommendations').url(), { params: this.params });
            this.products = data.products;
        },
        async addToCart(id) {
            let item = { id, quantity: 1};
            this.ADD_CART(item)
                .then(() => {
                    this.$modal.show('item-added-cart-modal');
                    this.GET_CART_COUNT();
                });
        },
    },

}
</script>
