<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <inertia-link :href="route('cart.index')">корзина</inertia-link>
                <i>/</i>
                <span>Оформление заказа</span>
            </div><!--pager-->

            <form @submit.prevent="orderCheckout" class="order">
              <div class="order__left" v-if="hasStatusTwo">
                <div class="block__attention">
                  <div class="title">
                    Внимание!
                  </div>
                  <p class="text">
                    Данный товар находиться на складе и будет доставлена на следующий день в пункте самовывоза или по адресу доставки.
                  </p>
                </div>
              </div>
                <h1>
                    Оформление заказа
                </h1>

                <div class="order__desc">
                    <p class="order__desc-title">
                        Ваш заказ
                    </p>

                    <div class="order__products">
                        <div class="order__product spacer_top" v-for="item in items">
                            <div class="order__product-photo">
                                <img class="pos-center" :src="item.associatedModel.image" :alt="item.name">
                            </div><!--order__product-photo-->

                            <div class="order__product-right">
                                <a :href="route('products.show', item.associatedModel.slug).url()" class="order__product-title">{{ item.name }}</a>
                                <p class="order__product-count">Количество: {{ item.quantity }}</p>
                                <p class="order__product-price">{{ item.quantity * item.price | priceFilter }} ₸ </p>
                            </div><!--order__product-right-->

                        </div><!--order__product-->

                    </div><!--order__products-->

                    <p class="order__desc-result">
                        <span v-if="delivery_method && !notShow.includes(form.delivery_method_id)">
                            {{ delivery_method.name }}{{form.delivery_method_id != 4 ? ':': ''}}
                            <strong v-if="form.delivery_method_id != 4"> {{ delivery_method.price | priceFilter }} ₸</strong>
                        </span><br>
                        К оплате:  <strong>{{ cart_detail.total + delivery_method.price | priceFilter }} ₸</strong>
                    </p>
                </div><!--order__desc-->

                <div class="order__left">
                    <div class="order__block">
                        <p class="order__block-title">
                            Личные данные
                        </p>

                        <div class="order__fields">
                            <label class="form__label">
                                <span class="form__label-title">Фамилия </span>
                                <input type="text" v-model="form.surname" class="form__field" placeholder="Введите фамилию">
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Имя *</span>
                                <input type="text" v-model="form.name" class="form__field" placeholder="Введите имя">
                                <invalid-feedback input="name"></invalid-feedback>
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Телефон *</span>
                                <input type="text" v-mask="$phonemask" v-model="form.phone" class="form__field" placeholder="Номер телефона">
                                <invalid-feedback input="phone"></invalid-feedback>
                            </label>

                            <label class="form__label">
                                <span class="form__label-title">Почта *</span>
                                <input type="text" v-model="form.email" class="form__field" placeholder="Укажите почту">
                                <invalid-feedback input="email"></invalid-feedback>
                            </label>

                            <div class="form__label">
                                <span class="form__label-title" for="city_id">Населенный пункт *</span>

                                <div class="form-item">
                                    <div class="select-wrap">
                                        <select id="city_id" class="form-item__element form-item__element--select" v-model="form.address.city_id">
                                            <option disabled selected value="">Выберите город</option>
                                            <option v-for="city in cities" :value="city.id" :key="city.id">{{ city.name }}</option>
                                        </select>
                                        <invalid-feedback input="address.city_id"></invalid-feedback>
                                    </div>
                                </div>
                            </div><!--form__label-->

                        </div><!--order__fields-->

                    </div><!--order__block-->

                    <div class="order__block">
                        <p class="order__block-title">
                            Адрес и доставка
                        </p>

                        <div class="order__fields order__fields_mt-fix">
                            <div class="form__label">
                                <span class="form__label-title">Способ доставки * </span>
                                <div class="order__checkboxes">
                                    <label class="checkbox" v-for="delivery in delivery_methods">
                                        <input type="radio" name="delivery" v-model="form.delivery_method_id" :value="delivery.id">
                                        <span class="checkbox__btn">
                                            <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                                        </span>
                                        <span class="checkbox__title">{{ delivery.name }}</span>
                                    </label>

                                </div><!--order__checkboxes-->

                            </div><!--form__label-->

                            <div class="form__label" v-if="!notShow.includes(form.delivery_method_id)">
                                <span class="form__label-title">Адрес *</span>
                                <input type="text" v-model="form.address.street" class="form__field" placeholder="Улица" :class="{'has-error': $errors.errors['address.street']}">
                                <div class="spacer_top">
                                    <input type="text" v-model="form.address.house" class="form__field form__field_half" placeholder="Дом" :class="{'has-error': $errors.errors['address.house']}">

                                    <input type="text" v-model="form.address.entrance" class="form__field form__field_half" placeholder="Квартира" :class="{'has-error': $errors.errors['address.entrance']}">

                                    <input type="text" v-model="form.address.floor" class="form__field form__field_half" placeholder="Подъезд" :class="{'has-error': $errors.errors['address.floor']}">

                                    <input type="text" v-model="form.address.apartment" class="form__field form__field_half" placeholder="Этаж" :class="{'has-error': $errors.errors['address.apartment']}">

                                </div>
                            </div>

                            <div class="form__label">
                                <span class="form__label-title">Комментарий</span>
                                <textarea v-model="form.notes" class="form__field form__field_text" placeholder="Ваш комментарий"></textarea>
                            </div><!--form__label-->

                        </div><!--order__fields-->

                    </div><!--order__block-->

                    <div class="order__block">
                        <p class="order__block-title">
                            Способ оплаты
                        </p>

                        <div class="order__fields order__fields_mt-fix">
                            <div class="form__label">
                                <span class="form__label-title">Способ оплаты *</span>
                                <div class="order__checkboxes">
                                    <label class="checkbox" v-for="payment in payment_methods">
                                        <input type="radio" name="payment" v-model="form.payment_method_id" :value="payment.id">
                                        <span class="checkbox__btn">
                                            <svg class="svg-icon icon-check pos-center"><use xlink:href="/images/sprite.svg#icon-check"></use></svg>
                                        </span>
                                        <span class="checkbox__title">{{ payment.name }}</span>
                                    </label>

                                </div><!--order__checkboxes-->

                            </div><!--form__label-->

                        </div><!--order__fields-->

                        <button class="yellow-btn order__btn" type="submit">ОФОРМИТЬ</button>

                    </div><!--order__block-->

                </div><!--order__left-->

            </form><!--order-->

        </section><!--page-->
        <success-checkout-modal></success-checkout-modal>
    </shop-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import SuccessCheckoutModal from '@/Eshop/Components/Modals/SuccessCheckoutModal.vue';

export default {
    title: 'Оформление заказа',
    components: {
        SuccessCheckoutModal
    },
    props: {
        items: Array,
        paymentMethods: Array,
        cities: Array,
    },
    data() {
        return {
            form: {
                surname: this.$page.user ? this.$page.user.surname : '',
                name: this.$page.user ? this.$page.user.name : '',
                phone: this.$page.user ? this.$page.user.phone : '',
                email: this.$page.user ? this.$page.user.email : '',
                payment_method_id: 1,
                delivery_method_id: 1,
                notes: '',
                address: {
                    city_id: 1,
                    street: '',
                    house: '',
                    entrance: '',
                    floor: '',
                    apartment: '',
                },
            },
            delivery_methods: [],
            payment_methods: [],
            delivery_method: {},
            notShow: [3,5]
        }
    },
    computed: {
        ...mapGetters([
            'cart_detail'
        ]),
        hasStatusTwo() {
          let itemStatusTwo = this.items.filter((item) => {
            return item.associatedModel.status_id == 2
          })
          return itemStatusTwo.length > 0 ? true: false;
        }
    },
    created() {
        this.GET_CART_DETAIL();
        this.getDeliveryMethods();
        this.getPaymentMethods();
    },
    methods: {
        ...mapActions([
            'GET_CART_DETAIL',
        ]),
        async orderCheckout() {
            try {
                await window.axios.post(route('cart.checkout').url(), this.form);
                this.$modal.show('success-checkout-modal');
                this.GET_CART_DETAIL();
            } catch (e) {}
        },
        async getDeliveryMethods() {
            try {
                const { data } = await window.axios.get(route('filter.city-delivery-methods', this.form.address.city_id).url());
                this.delivery_methods = data.delivery_methods;
                this.delivery_method = this.delivery_methods[0];
                this.form.delivery_method_id = this.delivery_methods[0].id;
            } catch (e) {}
        },
        async getPaymentMethods() {
            try {
                const { data } = await window.axios.get(route('filter.delivery-payment-methods', this.form.delivery_method_id).url());
                this.payment_methods = data.payment_methods;
                this.form.payment_method_id = this.payment_methods[0].id;
            } catch (e) {}
        },
        setDeliveryMethod(id) {
            this.delivery_method = this.delivery_methods.find((item, key) => {
                return item.id == id;
            });
        }
    },
    watch: {
        'form.delivery_method_id'(value) {
            this.setDeliveryMethod(value)
            this.getPaymentMethods()
        },
        'form.address.city_id'(value) {
            this.getDeliveryMethods()
        },
    }
}
</script>
