<template>
    <shop-layout>
        <section class="page content">
            <div class="pager">
                <inertia-link :href="route('welcome')">Главная</inertia-link>
                <i>/</i>
                <span>корзина</span>
            </div><!--pager-->

            <div class="basket">
                <div class="basket__table">
                    <div class="basket__table-header">
                        <div class="basket__table-col">
                            Товар
                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            Доступность
                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            Количество
                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            Цена
                        </div><!--basket__table-col-->

                    </div><!--basket__table-header-->

                    <div class="basket__item" v-for="(item, index) in items">
                        <div class="basket__table-col">
                            <div class="basket__item-photo">
                                <img class="pos-center" :src="item.associatedModel.image" alt="Ноутбук Lenovo G505s">
                            </div><!--basket__item-photo-->

                            <div class="basket__item-info">
                                <p class="basket__item-title">
                                    {{ item.name }}
                                </p>

                                <p class="basket__item-param">
                                    Код товара: <strong>{{ item.associatedModel.article }}</strong>
                                </p>

                                <a :href="route('products.show', item.associatedModel.slug)" class="basket__item-link">
                                    Перейти к товару
                                </a>
                            </div><!--basket__item-info-->

                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            <p class="basket__item-status">
                                <span class="avail" v-if="item.associatedModel.is_available" :style="`color: ${item.associatedModel.status.color}`">{{ item.associatedModel.status ? item.associatedModel.status.name: 'На складе' }}</span>
                                <span class="not-avail" v-else>Нет в наличии</span>
                            </p>

                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            <eshop-count v-model="item.quantity" @update-count="updateCartItem(item)" :max="parseInt(item.associatedModel.left_quantity)"></eshop-count>

                        </div><!--basket__table-col-->

                        <div class="basket__table-col">
                            <p class="basket__item-price">
                                {{ item.quantity * item.price | priceFilter }} ₸
                            </p>

                            <span class="basket__item-delete" @click="removaCartProduct(index)">
                                <svg class="svg-icon icon-delete"><use xlink:href="images/sprite.svg#icon-delete"></use></svg>
                            </span>

                        </div><!--basket__table-col-->

                    </div><!--basket__item-->


                </div><!--basket__table-->

                <div class="basket__result" v-if="cart_detail.total > 0">
                    <p class="basket__result-sum">
                        Итого: <strong>{{ cart_detail.total | priceFilter }} ₸ </strong>
                    </p>

                    <inertia-link :href="route('cart.checkout.view')" class="yellow-btn basket__btn">Оформить заказ</inertia-link>

                </div><!--basket-->

            </div><!--basket-->

        </section><!--page-->

    </shop-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import EshopCount from '@/Eshop/Components/Count';

export default {
    title: 'Корзина',
    props: {
        items: Array,
    },
    components: {
        EshopCount
    },
    computed: {
        ...mapGetters([
            'cart_detail'
        ]),
    },
    mounted() {
        this.GET_CART_DETAIL();
    },
    methods: {
        ...mapActions([
            'REMOVE_CART_PRODUCT',
            'GET_CART_COUNT',
            'GET_CART_DETAIL',
            'UPDATE_CART_ITEM_QUANTITY',
        ]),
        removaCartProduct(index) {
            let item = this.items[index];
            if (item) {
                this.REMOVE_CART_PRODUCT(item.id)
                    .then(() => {
                        this.GET_CART_COUNT();
                        this.items.splice(index, 1);
                        this.GET_CART_DETAIL();
                    });
            }
        },
        updateCartItem(cart_item){
            this.UPDATE_CART_ITEM_QUANTITY(cart_item)
                .then(() => {
                    this.GET_CART_DETAIL();
                })
        }
    }
}
</script>
