<template>
    <section class="page-wrap">
        <eshop-header></eshop-header>
        <eshop-nav-bar></eshop-nav-bar>
        <slot></slot>
        <eshop-footer></eshop-footer>
        <!-- models -->
        <eshop-login-modal></eshop-login-modal>
        <eshop-register-modal></eshop-register-modal>
        <eshop-forgot-password-modal></eshop-forgot-password-modal>
        <eshop-item-added-cart-modal></eshop-item-added-cart-modal>
        <eshop-question-modal></eshop-question-modal>
    </section>

</template>

<script>
import EshopHeader from './../Eshop/Header';
import EshopNavBar from './../Eshop/NavBar';
import EshopFooter from './../Eshop/Footer';
import EshopLoginModal from './../Eshop/Components/Modals/LoginModal';
import EshopRegisterModal from './../Eshop/Components/Modals/RegisterModal';
import EshopItemAddedCartModal from './../Eshop/Components/Modals/ItemAddedCartModal';
import EshopForgotPasswordModal from './../Eshop/Components/Modals/ForgotPasswordModal';
import EshopQuestionModal from './../Eshop/Components/Modals/QuestionModal';

export default {
    components: {
        EshopHeader,
        EshopNavBar,
        EshopFooter,
        EshopLoginModal,
        EshopRegisterModal,
        EshopQuestionModal,
        EshopItemAddedCartModal,
        EshopForgotPasswordModal,
    },
};
</script>
